@charset "UTF-8";
/*****************************************************************

		Copyright C 다온테마 All rights reserved. 
		daontheme@daum.net
		본 페이지는 유료컨텐츠 다온테마용 CSS입니다. 불법복제시 법적인 제제를 받으실 수 있습니다. 
		라이센스를 삭제하지 마세요. 라이센스 삭제시 불법 사용으로 간주될 수 있습니다.

******************************************************************/

html{overflow-x:hidden;}
body,td,h1,h2,h3,h4,h5,div,p,li,ul,ol,dd,dt,section,input,textarea,select,button{margin:0;padding:0; font-size:14px; color:#333; line-height:1.6em; font-family: 'Open Sans','Noto Sans KR', sans-serif; font-weight:400; letter-spacing:-0.02em;}
ul,ol,li{margin:0;padding:0;list-style:none;}


a, img{border:0px; vertical-align:middle;}
a{text-decoration:none;}
strong{font-weight:500;}
*, :after, :before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.lview{}
.sview{display:none;} 
.mview{display:none;}

.clearfix:after{clear:both;content:"";display:block}


/* 중간기기~작은기기 모바일 상단 */
#mobile_header {width:100%; height:60px;  line-height:60px; border:0px solid red; z-index:999999; display:none;}
#mobile_header .inner {top:0; left:0; z-index:50; width:100%; height:60px; line-height:60px; overflow:hidden; background:#111;}
#mobile_header h1 { width:220px; padding-top:10px; text-align:center; margin:0 auto; }
#mobile_header h1 img { width:90%; overflow:hidden;}
#mobile_header .m_gnb li {list-style:none;}
#mobile_header .m_gnb li a {display:block; top:0; width:100%; text-align:center; color:transparent;}
#mobile_header .m_gnb li.category a i{float:left; position:absolute; width:20px; height:20px; line-height:20px; left:15px; top:20px; font-size:20px; color:#fff;}
#mobile_header .m_gnb li.home a i { float:left; position:absolute; width:20px; height:20px; line-height:20px; right:15px; top:20px; font-size:20px; color:#fff; }
#back_cover {position:absolute; display:none; left:0; top:0;  width:100%; height:100%; top:0px; background:rgba(0,0,0,0.5); z-index:9999998;}
#sideMenu {display:inline; position:fixed; top:0; left:-250px; width:249px; height:100%; background-color:#fff; z-index:9999999;}
#sideMenu .side_title{height:60px; line-height:60px; background-color:#111; color:#fff; text-align:center; font-size:1.3em; cursor:pointer;}
#sideMenu .navi_bg{ width:100%;} 
#sideMenu .nav { width:100%; margin:0 auto; padding:0; padding-bottom:30px; list-style: none; box-sizing:border-box;  overflow:auto; height:500px;} 
#sideMenu .nav ul { width:100%; margin:0; padding:0;}
#sideMenu .navi_set{ display:inline;  margin:0; padding:10px 0 10px 0; text-align:center;  }
#sideMenu .navi_set > div {display:block; width:100%; height:40px; line-height:40px; border-bottom:1px solid #aaa; text-align:left; background-color:#fff; color:#333; text-indent:10px; cursor:pointer;}
#sideMenu .navi_set > div > a{display:block; width:100%; height:40px; line-height:40px;}
#sideMenu .navi_set ul {display:none;}
#sideMenu .navi_set ul li {list-style:none; border-bottom:1px solid #eee;}
#sideMenu .navi_set ul li a{display:block; width:100%; height:30px; line-height:30px; text-align:left; font-size:0.9em; color:#333; cursor:pointer;  text-indent:20px; background-color:#fff;}
#sideMenu .navi_set ul li a:hover{color:#fff; background-color:#aaa; }
#gnba {background-color:#666; text-align:center; padding:10px 0;}
#gnba i{color:#fff; font-size:30px;}
#gnba a { color:#fff; text-align:center; font-size:0.85em;  padding:5px 10px; margin:0 2px;  background:#1592c2; border-radius:3px;}
#gnba a:hover { background:#fff; color:#000; }
.jbmFixed{position:fixed !important; top:0; left:0;}


/* 큰기기 PC 상단 */
#header_wrap{width:100%; position:absolute; top:0px; left:0; z-index:500 !important;  transition: 0.5s all ease; -webkit-transition: 1.5s all ease; -moz-transition: 0.5s all ease; -ms-transition: 0.5s all ease; -o-transition: 0.5s all ease;}
#header {width:100%;  border-bottom:1px solid rgba(255,255,255,0.2); background:rgba(255, 255, 255, 0); }
#header:hover { background:rgba(255, 255, 255, 1); transition: 0.5s all ease; }
#header:hover #header_logo h1.logo_a a img{display:none; }
#header:hover #header_logo h1.logo_b a img{display:inline; vertical-align:middle; }
#header:hover #lnb_wrap .lnb_area .ul_1st > li > a > p {color:#000;}
#header:hover #gnbb li  {border-left:1px solid rgba(0,0,0,0.1); }
#header:hover #gnbb li:last-child { border-right:1px solid rgba(0,0,0,0.1); }
#header:hover #gnbb li a { color:#333;}
#header:hover #gnbb li:hover a { color:#fff;}

#header .wrap_box{width:100%; max-width:1400px; height:70px; margin:0 auto; }
#header_logo{float:left; width:20%; height:70px; padding-top:12px; text-align:left; }
#header_logo:after{ content:""; display:block; clear:both;}
#header_logo h1.logo_a a img{display:inline; vertical-align:middle; }
#header_logo h1.logo_b a img{display:none; }

#lnb {float:left; width:65%; }
#lnb_wrap { float:right; width:80%; }
#lnb_wrap .lnb_area { position:relative;}
#gnbb {float:right; right:0; width:15%;}
#gnbb li {float:left;  width:50%; text-align:center; border-left:1px solid rgba(255,255,255,0.2); }
#gnbb li:last-child { border-right:1px solid rgba(255,255,255,0.2); }
#gnbb li:hover {background:#1592c2; }
#gnbb li a { display:block; color:#fff; text-align:center; font-size:0.85em;  line-height:70px; margin:0px;  }
#gnbb li a i {font-size:0.9em; margin-right:5px;}
#lnb_wrap .lnb_area .ul_1st{ position:relative; width:100%; border:0px solid red;}
#lnb_wrap .lnb_area .ul_1st > li{ float:left; width:20%; position:relative;	}
#lnb_wrap .lnb_area .ul_1st > li > a {display:block; text-align:center; padding:0; font-weight:400; height:70px; line-height:65px;}
#lnb_wrap .lnb_area .ul_1st > li > a > p { width:100%; display:inline-block; vertical-align:middle; color:#fff;  font-size:1.2em;  }
#lnb_wrap .lnb_area .ul_1st > li:hover > a > p { color:#000;}
#lnb_wrap .lnb_area .ul_2nd {position:absolute; top:71px; left:0; width:150px; text-align:left; background:rgba(255,255,255,1); display:none; margin:0; padding:0; margin-left:0px; border-top:0; box-sizing:border-box;}
#lnb_wrap .lnb_area .ul_2nd > li { border-bottom:1px solid #eee; height:40px; line-height:40px; }
#lnb_wrap .lnb_area .ul_2nd > li:last-child { border-bottom:0;}
#lnb_wrap .lnb_area .ul_2nd > li > a {display:block; color:#777; padding:0; margin:0; height:40px; text-indent:15px; line-height:40px; font-size:1em; letter-spacing:-0.5px; transition: 0.5s all ease; -webkit-transition: 0.5s all ease; -moz-transition: 0.5s all ease; -ms-transition: 0.5s all ease; -o-transition: 0.5s all ease;}
#lnb_wrap .lnb_area .ul_2nd > li > a:hover{ display:block; font-weight:400;}
#lnb_wrap .lnb_area .ul_2nd > li.active > a {color:#fff; background:#6D757C url('../image/arr.png') no-repeat right center;}
#lnb_wrap .lnb_area .ul_3rd {position:absolute; display:none; left:100%; width:150px;   background:rgba(109, 117, 124, 1); padding:0; margin:0; z-index:9999; margin-top:-40px; }
#lnb_wrap .lnb_area .ul_3rd > li {border-bottom:0px solid #333; height:40px; line-height:40px; border-left:0px solid #333;}
#lnb_wrap .lnb_area .ul_3rd > li > a{display:block; color:#fff; padding:0; margin:0; height:40px; text-indent:15px; line-height:40px; font-size:0.9em; letter-spacing:-0.5px; transition: 0.5s all ease; -webkit-transition: 0.5s all ease; -moz-transition: 0.5s all ease; -ms-transition: 0.5s all ease; -o-transition: 0.5s all ease;}
#lnb_wrap .lnb_area .ul_3rd > li > a:hover{display:block; color:#fff; opacity:1; font-weight:400; }

.header_fixed{border-bottom:1px solid rgba(0,0,0,0.1) !important; max-width:100% !important;  position:fixed !important;  left:0;  top:0 !important; background:rgba(255,255,255,1) !important; /*box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15); */z-index:500 !important; transition: all 1.0s ease;-webkit-transition: all 1.0s ease;-moz-transition: all 1.0s ease;}
.header_fixed #lnb_wrap .lnb_area .ul_1st > li > a > p { color:#000; }
.header_fixed #gnbb li  {border-left:1px solid rgba(0,0,0,0.1); }
.header_fixed #gnbb li:last-child { border-right:1px solid rgba(0,0,0,0.1); }
.header_fixed #gnbb li a { color:#333;}
.header_fixed #header_logo h1.logo_a a img{display:none; }
.header_fixed #header_logo h1.logo_b a img{display:inline; vertical-align:middle; }
.header_fixed #lnb_wrap .lnb_area .ul_2nd{ border:1px solid #E5E5E5; border-top:0;}
.header_fixed #lnb_wrap .lnb_area .ul_3rd{margin-left:1px; }


/* 인덱스 */
#container {position:relative; width:100%; min-width:320px; margin:0; padding:0; z-index:1; background:#fff; margin-top:0px;}



#main_visual{ width:100%; padding:0; text-align:center; margin:0px auto;}
#main_visual .swiper-slide{width:100%; height:auto; padding:0; background-color:#000; overflow:hidden;}
#main_visual .swiper-slide div.backgroundimg{width:100%; height:100%; z-index:1;}
#main_visual .swiper-slide .backgroundimg .mobile_only{display:none;}
#main_visual .swiper-slide .backgroundimg img{width:100%; height:auto;}
#main_visual .sliderkit-text {width:100%; height:200px; max-width:1300px;  position:absolute; top:50%; margin-top:-100px; left:50%;  margin-left:-650px; text-align:left; z-index:2;}
#main_visual .sliderkit-text h1.lviewa{opacity:0; font-size:5em;  color:#fff; line-height:1.1em; font-weight:700; /*text-shadow: 0px 1px 4px #000;*/ padding-bottom:10px;}
#main_visual .sliderkit-text h1.sviewa{opacity:0; font-size:1.3em;  color:#eee; line-height:1.3em; /*text-shadow: 0px 1px 4px #000;*/ padding-bottom:10px;}
#main_visual .sliderkit-text div{opacity:0;}
#main_visual .sliderkit-text div span{display:inline-block; background:none; border:1px solid #aaa; border-radius:5px; padding:5px 20px; margin-top:10px;}
#main_visual .sliderkit-text div span h2{ font-size:1em; color:#eee;  letter-spacing:0.05em;  }
#main_visual .swiper-button-prev,.swiper-container-rtl .swiper-button-next{left:0px; top:50%; margin-top:-35px; display:block; background:url("../image/visual_prev_on.png")  center left no-repeat; opacity : 0.7; width:70px; height:70px; color:rgba(255,255,255,0); transition: 0.5s all ease; -webkit-transition: 0.5s all ease; -moz-transition: 0.5s all ease; -ms-transition: 0.5s all ease; -o-transition: 0.5s all ease;}
#main_visual .swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:0px; top:50%; margin-top:-35px; display:block; background:url("../image/visual_next_on.png") center right no-repeat; opacity : 0.7; width:70px; height:70px; color:rgba(255,255,255,0); transition: 0.5s all ease; -webkit-transition: 0.5s all ease; -moz-transition: 0.5s all ease; -ms-transition: 0.5s all ease; -o-transition: 0.5s all ease;}
#main_visual .swiper-button-prev:hover,.swiper-container-rtl .swiper-button-next:hover{opacity :1; }
#main_visual .swiper-button-next:hover,.swiper-container-rtl .swiper-button-prev:hover{opacity :1; }
#main_visual .swiper-pagination-bullet-active{background:#C53428;}


#service_wrap {width:100%; min-width:320px; }
#service_wrap .con_area { width:100%;  margin:0 auto;  box-sizing:border-box; background:#6c747b;}
#service_wrap .con_area:after { content:""; display:block; clear:both;}
#service_wrap .con_area ul { background:#fff;  padding:0; margin:0; }
#service_wrap .con_area ul li{ float:left; display:inline-block; width:16.66%; margin:0; border-left:1px solid #8b949b; box-sizing:border-box; overflow:hidden; transition:all .5s ease; -moz-transition:all .5s ease; -ms-transition:all .5s ease; -webkit-transition:all .5s ease; -o-transition:all .5s ease;}
#service_wrap .con_area ul li:nth-child(1){border-left:0px;}
#service_wrap .con_area ul li:nth-child(even){background:#485056; background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 44%, rgba(255, 255, 255, 0.2) 45%, rgba(255, 255, 255, 0.2) 55%, rgba(255, 255, 255, 0) 56%, rgba(255, 255, 255, 0) 100%);background-size: 6px 6px;background-repeat: repeat;}
#service_wrap .con_area ul li a{ display:inline-block; width:100%; color:#000; text-align:center; padding:50px 0;  }
#service_wrap .con_area ul li i {display:block; color:#fff; font-size:3em;}
#service_wrap .con_area ul li p{ display:block; color:#fff; font-size:1.25em; padding-top:15px;  }
#service_wrap .con_area ul li span{ display:block; color:#fff; font-size:1em; margin-top:10px; padding:0 15px;  }
#service_wrap .con_area ul li:hover { background:#333a3f !important;}
#service_wrap .con_area ul li:hover i{color:#fff !important; }
#service_wrap .con_area ul li:hover p{color:#fff !important;}
#service_wrap .con_area ul li:hover span{color:#fff !important;}


#pro_wrap {position:relative; width:100%;  min-width:320px; margin:100px auto; margin-bottom:40px;}
#pro_wrap .con_title{ width:100%; padding-bottom:20px; margin:0 auto;}
#pro_wrap .con_title p { text-align:center; font-size:2.8em;  line-height:50px; color:#000; font-weight:700; padding:0 10px; margin:0px auto;  }
#pro_wrap .con_title span { display:block; text-align:center; font-size:1.15em; color:#777;  padding:0 15px; margin:10px 0 20px 0;}
#pro_tab {position: relative; width:100%; margin:0px auto; }
#pro_tab:after{ content:""; display:block; clear:both;}
#pro_tab .tab { width:100%; max-width:1200px; height:30px; line-height:30px; margin:0 auto; text-align:center;}
#pro_tab .tab:after {content:""; display:block; clear:both;}
#pro_tab .tab li{display:inline-block; width:200px; margin-right:10px; }
#pro_tab .tab a{display: block; height:30px; line-height:30px; text-align: center; color:#fff; background:#6c747b; border-radius:3px;}
#pro_tab .tab li:last-child {margin:0;}
#pro_tab .tab li.all { width:40px; color:#fff; border:0;  border-radius:4px; }
#pro_tab .tab li.all a { background:#333; color:#fff; border:0;  }
#pro_tab .tab li.on a{font-weight:700; border-bottom: 0 none;  background:#1592c2; color:#fff;}
#pro_tab li{position: relative; line-height:30px;}
#pro_tab li span.date{position: absolute; right:0; text-align:right; line-height:30px; font-size:0.9em; color:#ddd; }
#pro_tab div li a{display: inline-block; margin-right:0px; font-size:0.9em; color:#333;}
#pro_tab > div{display: none; padding:0; }
#pro_tab .active{display: block; }
#pro_tab .pro_list{ width:100%; text-align:center; padding-top:50px; margin:0 auto; overflow:hidden;}
#pro_tab .pro_list:after {content:""; display:block; clear:both;}
#pro_tab .pro_list > ul{ width:100%; font-size:0; list-style:none; margin:0; padding:0; overflow:hidden; }
#pro_tab .pro_list > ul > li{ display:inline-block; width:380px; margin:0 0.5% 2% 0.5%; text-align:center; border:0px solid red;}
#pro_tab .pro_list > ul > li > a{width:100%;}
#pro_tab .pro_list > ul > li > a > div > img { width:100%;  border:1px solid #ddd; box-sizing:border-box; cursor:pointer; border-radius:5px;}
#pro_tab .pro_list > ul > li > a > p {display:block; height:30px; width:90%; margin:0 auto; margin-top:20px; font-size:1.5em;font-weight:700; text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden}
#pro_tab .pro_list > ul > li > a > div.text {display:block; width:90%; margin:0 auto;  height:30px; margin-top:10px; margin-bottom:20px; color:#777; border:0px solid red; text-overflow:ellipsis; white-space:nowrap;word-wrap:normal;overflow:hidden;}
#pro_tab .pro_zoom { width:100%; height:100%; margin:0; overflow:hidden;}
#pro_tab .pro_zoom img {width:100%; border:1px solid #ddd; transition: transform 1s; -webkit-transition: -webkit-transform 1s;}
#pro_tab .pro_list > ul > li > a > p > span.new_icon{display:inline-block; line-height:1em; color:#fff; background-color:#2E5A98; padding:1px 5px 1px 3px; font-size:0.6em !important;}
#pro_tab .pro_list > ul > li > a > p > span.hot_icon{display:inline-block; line-height:1em; color:#fff; background-color:#C53629; padding:1px 5px 1px 3px; font-size:0.6em !important;}



#main_about_100{width:100%; max-width:1920px; margin:0 auto; overflow:hidden; }
#main_about_100 .img_wrap{ float:left; width:50%; height:450px; background:url('../image/ski_tech_a.jpg') center center no-repeat}
#main_about_100 .txt_wrap{ float:right; width:50%; vertical-align:top; background:#f7f7f7; box-sizing:border-box; }
#main_about_100 .txt_wrap .txt_cont{ width:100%; height:450px;  padding:50px;}
#main_about_100 .txt_wrap .txt_cont h2{ font-size:3.5em; font-weight:700;  line-height:1.5em; }
#main_about_100 .txt_wrap .tit{font-size:2em; font-weight:400; line-height:1.2em;  }
#main_about_100 .txt_wrap .txt{font-size:1em; line-height:1.5em; display:inline-block; word-break:keep-all; color:#333; padding:25px 0 50px;}
#main_about_100 .txt_wrap .txt:last-child{padding-top:14px}
#main_about_100 .btn_more{display:block; width:180px; height:50px; line-height:50px; background:#222; text-align:center; color:#fff; transition:0.6s;}
#main_about_100 .btn_more:hover{background:#1692C2; }


#m_bnr2 {position:relative; width:100%;  max-width:1400px; margin:100px auto; }
#m_bnr2:after{ content:""; display:block; clear:both;}
#m_bnr2 .con_box { width:100%; height:260px;  }
#m_bnr2 .con_box:after{ content:""; display:block; clear:both;}
#m_bnr2 .con_box li { float:left; position:relative; text-align:center; width:25%; height:100%; border-left:1px solid #ddd;  box-sizing:border-box; overflow:hidden;} 
#m_bnr2 .con_box li:first-child{ border-left:0;}
#m_bnr2 .con_box li .hover_area i {  display:inline; width:30px; height:30px; padding:5px 0 5px 0; vertical-align:middle;  font-size:2.5em; color:#000; text-align:center; transition: 0.5s all ease;   -webkit-transition: 0.5s all ease;   -moz-transition: 0.5s all ease;   -ms-transition: 0.5s all ease;   -o-transition: 0.5s all ease; }
#m_bnr2 .con_box li .hover_area{position:absolute; left:0; top:0; display:block; width:100%; height:100%; padding-top:40px; box-sizing:border-box; background:rgba(0,0,0,0); border-radius:30px; transition: 0.5s all ease;   -webkit-transition: 0.5s all ease;   -moz-transition: 0.5s all ease;   -ms-transition: 0.5s all ease;   -o-transition: 0.5s all ease; }
#m_bnr2 .con_box li .hover_area b { position:relative; display:block; padding-top:20px; font-size:1.5em; font-weight:400; color:#222; }
#m_bnr2 .con_box li .hover_area p { padding:0 10px; margin-top:10px; font-size:1em; line-height:20px; color:#777; transition:0.6s; letter-spacing:0.05em; }
#m_bnr2 .con_box li .hover_area span.btn_view{ display:inline-block; width:30px; height:30px; line-height:30px; margin-top:30px; transition:0.6s; background:url('../image/btn_view.png') no-repeat 50% 50%;}
#m_bnr2 .con_box li .hover_area:hover i {color:#1692C2;}
#m_bnr2 .con_box li:hover{ transition:0.6s;}


#rolling_box {position:relative; width:100%; min-width:320px; padding:100px 0; margin:0 auto; background:#6D757C; background-color:#F2F2F2;}
#rolling_box .con_title p { text-align:center; font-size:2.8em;  line-height:50px; color:#000; font-weight:700; padding:0 10px; margin:0px auto;  }
#rolling_box .con_title span { display:block; text-align:center; font-size:1.15em; color:#666;  padding:0 10px;  margin:10px 0 50px 0;}
#rolling_box .swiper-wrapper2{position:relative; width:100%;  height:100%;z-index:1;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-o-transition-property:transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-box-sizing:content-box;box-sizing:content-box}
#rolling_box .swiper-container2{width:100%; max-width:1600px; height:auto; overflow:hidden; margin:0 auto; }
#rolling_box .swiper-container2 .swiper-slide{position:relative; width:380px; padding:0; margin:0; overflow:hidden; box-sizing:border-box;}
#rolling_box .swiper-container2 .swiper-slide a{width:100%; display:block;}
#rolling_box .swiper-container2 .swiper-slide img{width:380px; }
#rolling_box .swiper-container2 .swiper-slide .txtBox{position:relative; top:-50px; width:100%; height:50px; line-height:50px; text-align:center; background:rgba(0,0,0,0.6); }
#rolling_box .swiper-container2 .swiper-slide .txtBox .tit{ display:block; width:100%; height:50px; line-height:50px; text-overflow:ellipsis; white-space:nowrap;word-wrap:normal; overflow:hidden; font-size:1.2em; color:#fff; }
#rolling_box .swiper-container2 .swiper-slide .txtBox .txt{ display:block; max-height:63px; min-height:50px; overflow:hidden; font-size:1em; color:#555;  line-height:1.5em; }
#rolling_box .swiper-btn-wrap {position:relative; top:0px; width:100%; max-width:1200px; margin:0 auto;  background:none; }
#rolling_box .swiper-pagination2{text-align:center;}
#rolling_box .swiper-pagination-bullet{width:10px; height:10px; margin:0 3px; background-color:#6D757C;}
#rolling_box .swiper-pagination-bullet-active{background-color:#1692C2;}


#comm_wrap { width:100%; min-width:320px; max-width:1400px; margin:100px auto;  }
#comm_wrap .comm_area { width:48%; float:left;}
#comm_wrap .comm_area1 { width:48%; float:right;}
#comm_wrap .con_title{ width:100%; padding-bottom:30px; margin:0 auto;}
#comm_wrap .con_title p { text-align:center; font-size:2.8em;  line-height:50px; color:#000; font-weight:700; padding:0 10px; margin:0px auto;  }
#comm_wrap .con_title span { display:block; text-align:center; font-size:1.15em; color:#777;  padding:0 15px; margin:10px 0 20px 0;}
#comm_wrap .notice_area { width:100%; height:auto; padding:0; overflow:hidden; border-top:1px solid #000; box-sizing:border-box; background:#fff; }
#comm_wrap .notice_area .notice_list {width:100%;}
#comm_wrap .notice_area .notice_list li {position: relative; width:100%; border-bottom:1px solid #eee; }
#comm_wrap .notice_area .notice_list li .more{display:block; position:absolute; top:15%; right:10px; text-align:right; opacity:0.2;}
#comm_wrap .notice_area .notice_list li:hover .more{  opacity:1; transition: 0.5s all ease; -webkit-transition: 0.5s all ease; -moz-transition: 0.5s all ease; -ms-transition: 0.5s all ease; -o-transition: 0.5s all ease; }
#comm_wrap .notice_area .notice_list li a{display:block; width:100%; height:100%; padding:30px 0; overflow:hidden;}
#comm_wrap .notice_area .notice_list li a > strong{display:inline-block; float:left; width:15%; font-size:1em; color:#aaa; text-align:center; }
#comm_wrap .notice_area .notice_list li a > strong > em{display:block; color:#1592c2 ; font-size:2.5em; font-weight:700; font-style:normal; margin-bottom:10px;}
#comm_wrap .notice_area .notice_list li a .txt{display:inline-block; float:left; width:75%; }
#comm_wrap .notice_area .notice_list li a .txt > strong{display:block; font-size:1.2em; color:#000; font-weight:400;}
#comm_wrap .notice_area .notice_list li a .txt > span{display:block; font-size:1em; color:#555; font-style:normal; margin-top:10px; text-overflow:ellipsis; white-space:nowrap;word-wrap:normal;width:100%;overflow:hidden}
#comm_wrap .notice_area .notice_list li:hover {background:#f8f8f8;}


#online{position:relative; top:0; width:100%; min-width:320px; max-width:1980px; margin:0px auto; background:url('../image/online_back.jpg') repeat-y; background-position:left 20%; background-attachment: contain;}
#online:after{ content:""; display:block; clear:both;}
#online .online_con { width:100%; height:300px; }
#online .online_con div.blind { width:100%;  height:100%; background:rgba(0,0,0,0.3);}
#online .online_area { position:absolute; top:21%; text-align:center; width:100%; }
#online .online_area p{ display:block; font-size:2.5em; color:#fff; font-weight:600;}
#online .online_area span{ display:inline-block; font-size:1.3em; font-weight:300; line-height:24px; color:#fff; padding:0 20px; margin:10px 0;}
#online .online_area a{display:block; width:160px; height:50px; line-height:50px; font-size:1.2em; color:#fff;  background:rgba(0,0,0,0);  border:1px solid #fff;  margin:20px auto; transition: 0.5s all ease;   -webkit-transition: 0.5s all ease;   -moz-transition: 0.5s all ease;   -ms-transition: 0.5s all ease;   -o-transition: 0.5s all ease; }
#online .online_area a:hover{color:#fff; background:#1592c2; border:1px solid #1592c2;}




/* 하단 */
#footer { clear:both; width:100%; min-width:320px; background:#292929;}
.copy_warp { position:relative; width:100%; max-width:1200px; padding:40px 0 50px 0; margin:0 auto;}
.copy_warp:after{ content:""; display:block; clear:both;}
.copy_logo { float:left; display:block; width:20%;}
.copyright { float:left; width:80%;}
.copyright li {display:inline-block; font-size:0.95em; color:#8e8e8e; line-height:1.5em; margin-right:15px;}
.copyright .txt-block {display:block;}
.copyright a { color:#8e8e8e;}
.copyright .pT15{padding-top:15px;}
.copy_sns {  position:absolute; right:0; top:30px; width:136px; }
.copy_sns:after{ content:""; display:block; clear:both;}
.copy_sns li { float:left; width:40px; height:40px; margin-left:8px;}
.copy_sns li:first-child {margin-left:0;}
.copy_sns li a { position:relative; display:block; width:100%; height:100%; font-size:1em; text-align: center; line-height:40px; color:#fff; background: transparent; border: 1px solid rgba(255, 255, 255, .3); border-radius: 50%; transition: all .3s ease-in-out;}
.copy_sns li.blog a:hover { background: #47a944; border-color: #47a944; }
.copy_sns li.facebook a:hover { background: #395796; border-color: #395796; }
.copy_sns li.instagram a:hover { background: #c13584; border-color: #c13584; }





/* PC용 퀵메뉴 */
#backtotop{ position:fixed; bottom:35%; right:0; z-index : 1000; display:none;}
.q-menu nav div { position: relative; width:50px; height:50px; line-height:50px; font-size:1.5em; text-align:center; background:rgba(0,0,0,0.5);  margin:5px 0; transition: 0.5s all ease;   -webkit-transition: 0.5s all ease;   -moz-transition: 0.5s all ease;   -ms-transition: 0.5s all ease;   -o-transition: 0.5s all ease; }
.q-menu nav div:hover {background:#1592c2; /*rgba(0,0,0,0.9);*/}
.q-menu nav div i { display:inline-block; vertical-align:top; text-align:center; width:100%; height:50px; line-height:50px; font-size:0.85em; }
.q-menu nav div a {  width: 50px; height: 50px; line-height:50px; text-align: center; color:#fff; text-decoration:none; }
.q-menu nav div a span { position: absolute; right:0; padding:17px 10px; height:50px; line-height:50px; font-size:0.7em; opacity: 0; white-space: nowrap; background:#1592c2; /*rgba(0,0,0,0.9);*/ color: #fff; line-height: 1em;
-webkit-transition: all 300ms; -moz-transition: all 300ms; -ms-transition: all 300ms; -o-transition: all 300ms; transition: all 300ms; }
.q-menu nav a:hover { opacity: 1; }
.q-menu nav a:hover span { right:50px; opacity: 1; }
.q-menu nav a.active { color: #333; opacity: 1; }





/* 서브 */
#sub_visual{width:100%; min-width:320px; height:320px; text-align:center; background:#e8e9eb; }
#sub_visual .backgroundimg{position:relative; width:100%; text-align:center; margin:0 auto; height:320px; z-index:0; }
#sub_visual .visual_area {width:100%; max-width:1920px; height:320px; margin:0 auto; }


#sub_wrapper{width:100%; min-width:320px; margin:0 auto;}
#sub_wrapper:after{ content:""; display:block; clear:both;}
#sub_menu{ display:block; width:100%;  margin:0px auto; background:#fff; border-bottom:1px solid #ddd; } 
#sub_menu .sub_tab{width:100%; max-width:1200px; text-align:left; margin:0 auto; }


.sub_location{ width:100%; max-width:1400px; height:60px; font-size: 0; background:#fff; margin:0 auto;}
.sub_location > div{font-size: 0;}
.sub_location > div .cen{ float:left; width:60px; height:60px; line-height:60px; text-align:center; border-left: 1px solid #ddd; border-right: 1px solid #ddd;}
.sub_location > div .cen i{ color:#000; font-size:1.2em;}
.sub_location ul{width:100%; max-width:1400px; padding:0; margin:0; display: inline-block; width:179px; border-right: 1px solid #ddd;vertical-align: top; box-sizing:border-box; }
.sub_location ul:first-child{ border-left: 1px solid #ddd; }
.sub_location ul li{position: relative; width:100%;}
.sub_location ul li span{display: block; padding: 0 15px; line-height: 60px; font-size:1.2em; color: #000; background: url('../image/icnLocaArr.png') 90% center no-repeat; cursor: pointer;}
.sub_location ul.on li span{background: url('../image/icnLocaArr1.png') 90% center no-repeat;}
.sub_location ul li a{width:100%; display: block; padding: 8px 15px; color: #000; }
.sub_location ul li a:hover{color: #000; background:#ddd;box-sizing:border-box;}
.sub_location ul ul{display: none;position: absolute;top:60px; left: -1px; padding: 0px 0;background:#fff; border: 1px solid #ddd;  border-top:none; z-index:999998; width:calc(100% + 2px) !important;}
.sub_location ul.on li ul{display: block;}
.sub_location ul.dep2 li span{color: #1b458e; font-weight:500;}
.sub_location ul.dep2 ul{width:180px;}


#sub_tit { position:absolute; width:100%; min-width:320px; max-width:1400px; margin:0px auto; top:150px; left:50%; margin-left:-700px; border:0px solid red;}
#sub_tit .path { position:absolute; top:190px; right:0;  }
#sub_tit .path li { float: left; text-align:center; font-size:0.9em; padding: 0 8px 0 12px; margin:0; color: #000; background: url('../image/ico_path.gif') no-repeat left center; }
#sub_tit .path li a span.ic-home {padding: 0;cursor: pointer;}
#sub_tit .path li a span.ic-home i { background: url('../image/icon_home.png')no-repeat left center; display:inline-block; width:11px; height:11px;}
#sub_tit .path li:first-child { background:none;}
#sub_tit .path li:last-child { color:#000; font-weight:500;}
#sub_tit .title{ position:relative; padding-bottom:10px; font-size:2.4em; color:#fff; text-align:center; text-transform:uppercase; } /*대문자로*/
#sub_tit .title:after{display:block; content:""; width:5%; height:3px;  margin:10px auto; background:#fff;}
#sub_tit .normal_txt{display:none; margin:0px 0; font-size:1.2em; color:#fff; text-transform:uppercase; text-align:center; line-height:1.6; word-break: keep-all; font-family: 'Noto Sans KR', sans-serif;}
#sub_tit .normal_txt .color1{color:#fd7701;}


.scontents{width:100%; max-width:1400px; height:100%;  margin:0px auto; padding:30px 0 100px 0; }
.scontents:after{ content:""; display:block; clear:both;}
.scontents .bg_vline { display: block; width:1px; height:30px; /*background: url('../image/bg_vline.gif') no-repeat center;*/ margin:0px auto; }
.scontents h3.title {  font-size: 2.5em;  text-align: center; margin-top:0px;}
.scontents .eng {  display:block; text-align:center; font-size: 2.5em;  font-weight:500;  margin:0px 0;}
.scontents .eng em { color: #1b458e; font-style: normal;}
.scontents .stitle { font-size:1.2em; line-height:1.5em; text-align:center; color:#333; margin:10px 0 50px 0; }
.scontents .stitle:after{display:block; width:100%; border-bottom:1px solid #ddd; height:30px; background-color:red;}


.tbl{width:100%; border-top:1px solid #333; border-collapse:collapse;}
.tbl th{width:30%; background-color:#f2f2f2; border-bottom:1px solid #ccc; padding:5px 0; font-size:0.9em; font-weight:normal;  color:#000; text-align:center;}
.tbl td{width:70%; border-bottom:1px solid #ccc; padding:5px 0; text-indent:10px; font-size:0.9em;}


.tba{width:100%; border-top:1px solid #333; border-collapse:collapse; background-color:#fff;}
.tba th{width:35%; background-color:#f2f2f2; border-bottom:1px solid #ccc; padding:6px 0; font-size:0.9em; font-weight:normal;  color:#000; text-align:center;}
.tba td{width:65%; border-bottom:1px solid #ccc; padding:6px 0; text-indent:10px; font-size:0.9em;}


.policy_box{border:1px solid #ddd; padding:10px; height:160px; overflow:auto;}



/* 반응형 중간기기 1400px 사이즈 이하*/
@media all and (max-width:1400px){	

	#main_visual .sliderkit-text{width:80%; max-width:100%; height:250px; margin-top:-80px; margin-left:-40%; }
	#main_visual .sliderkit-text h1.lviewa{font-size:3.5em;}
	#main_visual .sliderkit-text h1.sviewa{font-size:1.5em;}

	#sub_tit { left:0%; margin-left:0px;}

}


/* 반응형 중간기기 1300px 사이즈 이하*/
@media all and (max-width:1300px){	


}


/* 반응형 중간기기 1200px 사이즈 이하*/
@media all and (max-width:1200px){

	.scontents{width:96%;}
	#container {margin-top:0px;}

	#lnb .lnb_wrap .ul_1st > li > a{padding:0 30px}


	#pro_tab .pro_list > ul > li{width:20%;}

	.q-menu{display:none !important;}

	#service_wrap .con_area { width:100%; margin:0 auto;}
	#service_wrap .con_area ul li{ width:33.333333%;}
	#service_wrap .con_area ul li:nth-child(3n){ border-right:0; }
	#service_wrap .con_area ul li:nth-child(4){ border-top:1px solid #8b949b; }
	#service_wrap .con_area ul li:nth-child(5){ border-top:1px solid #8b949b; }
	#service_wrap .con_area ul li:nth-child(6){ border-top:1px solid #8b949b; }

}


/* 반응형 중간기기 1100px 사이즈 이하*/
@media all and (max-width:1100px){

	#mobile_header{display:block; min-width:320px; }
	#header_wrap, #gnb_wrap, #gnb_area {display:none;}

	.lview{display:none;}
	.sview{display:block;}


	#main_about_100 .img_wrap{ width:100%;}
	#main_about_100 .txt_wrap{ width:100%; }
	#main_about_100 .txt_wrap .txt_cont{ position:relative; top:-50px;  width:90%; height:auto;  padding:25px; background:#fff; margin:0 auto;}


	#rolling_box .swiper-btn-wrap .swiper-scrollbar-wrap2 .swiper-button-prev2{ left:20px;}
	#rolling_box .swiper-btn-wrap .swiper-scrollbar-wrap2 .swiper-button-next2{ right:20px;}


	#sub_visual{margin-top:0px;}

	.scontents h3.title { text-align: center;}
	.scontents .eng {  text-align: center;}
	.scontents .stitle { text-align:center; }


	.scontents{width:96%;}
	#container {margin-top:0px;}



	#main_visual .swiper-slide{width:100%; height:auto;}
	#main_visual .swiper-slide div.backgroundimg{height:auto; }
	#main_visual .sliderkit-text{height:180px; margin-top:-90px;}
	#main_visual .sliderkit-text h1.lviewa{font-size:2.5em;}
	#main_visual .sliderkit-text h1.sviewa{font-size:1.2em;}
	#main_visual .sliderkit-text div span{font-size:0.95em;}




	#m_bnr2 {position:relative; top:0px; width:100%; margin:0 auto; border-bottom:none; }
	#m_bnr2 .con_box li { width:50%;  border-bottom:1px solid #ddd;} 
	#m_bnr2 .con_box li:last-child { border-right:none;}

	#service_wrap .con_area ul li span{font-size:0.9em;}
	
	
	#pro_tab{margin-bottom:0px;}
	#pro_tab .tab { width:95%; height:100%; margin:30px auto; }
	#pro_tab .tab li{float:left; width:48%; margin-right:1%; margin-left:1%; margin-bottom:1.5%;}
	#pro_tab .tab li:last-child {margin-left:1%; margin-right:1%;}
	#pro_tab .tab li.all { width:48%; margin-right:1%; margin-left:1%; margin-bottom:1.5%;}
	#pro_tab .pro_list{width:95%; padding-top:0px; }
	#pro_tab .pro_list ul li{width:48%; margin-bottom:4%; }
	#pro_tab .pro_list > ul > li{ margin:0 1% 2% 1%;} 
	#pro_tab .pro_list > ul > li > a > p {font-size:1.2em;}	



	.copy_warp { width:90%;}
	#comm_wrap .comm_area{width:95%; float:none; margin:0 auto;}
	#comm_wrap .comm_area1{width:95%; float:none; margin:0 auto; margin-top:50px;}

	.copyright { width:100%; margin-top:30px; }
	.copy_sns { margin-top:10px; }



	#backtotop{right:15px;}



	.sub_location > div .cen{ display:none;}
	.sub_location ul{width:50%;}
	.sub_location ul:first-child{border-left:0px; }
	.sub_location ul.dep2{border-right:0px;}

	#sub_tit { margin:0px auto; padding:0; left:0%; margin-left:0px; background:none; top:180px;}
	#sub_tit .path { display:none; }
	#sub_tit .title{ font-size:2em; }
	#sub_tit .title:after{display:block; content:""; width:20%; height:3px; background:#fff; margin:10px auto; }
	#sub_tit .normal_txt{font-size:1.2em;  color:#fff;  text-transform:uppercase; text-align:center; line-height:1.6; word-break: keep-all; text-shadow: 0px 1px 4px #333; font-family: 'Noto Sans KR', sans-serif;}
	#sub_tit .normal_txt .color1{color:#fd7701;}

		
	.visual_area {background-position:center top !important; background-size:cover !important;}

}




/* 반응형 중간기기 768사이즈 이하 */
@media screen and (max-width: 768px) {			

	.mview{display:block;}
	
	
	#main_visual .sliderkit-text{height:150px; margin-top:-70px;}
	#main_visual .sliderkit-text h1.lviewa{font-size:1.6em;}
	#main_visual .sliderkit-text h1.sviewa{font-size:1em;}
	#main_visual .sliderkit-text div span{padding:0 10px; font-size:0.8em;}	
	#main_visual .swiper-slide .backgroundimg .mobile_only{display:block;}
	#main_visual .swiper-slide .backgroundimg .pc_only{display:none;}
	.swiper-button-next, .swiper-button-prev{display:none !important;}
	

	#service_wrap .con_area ul li{ width:50%;}
	#service_wrap .con_area ul li:nth-child(even){background:#485056; background-image:none;}
	#service_wrap .con_area ul li:nth-child(2){ border-right:0; background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 44%, rgba(255, 255, 255, 0.2) 45%, rgba(255, 255, 255, 0.2) 55%, rgba(255, 255, 255, 0) 56%, rgba(255, 255, 255, 0) 100%);background-size: 6px 6px;background-repeat: repeat;}
	#service_wrap .con_area ul li:nth-child(3){ border-top:1px solid #8b949b; background:#485056; background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 44%, rgba(255, 255, 255, 0.2) 45%, rgba(255, 255, 255, 0.2) 55%, rgba(255, 255, 255, 0) 56%, rgba(255, 255, 255, 0) 100%);background-size: 6px 6px;background-repeat: repeat;}
	#service_wrap .con_area ul li:nth-child(4){ border-top:1px solid #8b949b; background:#6c747b;}
	#service_wrap .con_area ul li:nth-child(5){ border-top:1px solid #8b949b; }
	#service_wrap .con_area ul li:nth-child(6){ border-top:1px solid #8b949b; background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 44%, rgba(255, 255, 255, 0.2) 45%, rgba(255, 255, 255, 0.2) 55%, rgba(255, 255, 255, 0) 56%, rgba(255, 255, 255, 0) 100%);background-size: 6px 6px;background-repeat: repeat;}

	#comm_wrap .notice_area .notice_list li .more{ right:20px;}
	#comm_wrap .notice_area .notice_list li a > strong{ width:25%; }
	#comm_wrap .notice_area .notice_list li a .txt{width:75%; }
	#comm_wrap .notice_area .notice_list li a .txt > strong{width:80%;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden; }
	#comm_wrap .notice_area .notice_list li a .txt > span{width:80%;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden; }


	#sub_tit .path { display:none;}
	.sub_location > div .cen{ display:none;}
	.sub_location ul{width:50%;}
	.sub_location ul:first-child{border-left:0px; }
	.sub_location ul.dep2{border-right:0px;}


	.scontents{padding:30px 0px;}
	.scontents .stitle { margin-bottom:30px; }	

	#backtotop{display:none !important;}
	

}


/* 반응형 작은기기 480사이즈 이하 */
@media screen and (max-width: 480px) {	

	body,td,h1,h2,h3,h4,h5,div,p,li,ul,ol,dd,dt,section,input,textarea,select,button{font-size:13px;}

	section .con_title p { font-size:2em !important;}

	#m_bnr2 .con_box { height:200px;  }
	#m_bnr2 .con_box li .hover_area p { display:none; }

	#main_about_100 .txt_wrap .txt_cont{ width:90%; height:auto;  padding:20px 20px 50px 20px;}
	#main_about_100 .txt_wrap .txt_cont h2{ font-size:2.5em; font-weight:700; }
	#main_about_100 .txt_wrap .tit{font-size:1.5em; font-weight:400; }
	#main_about_100 .btn_more{margin:0 auto;}


	#pro_area .pro_tit span {font-size:1em; color:#777;  padding:0 70px; }
	#pro_tab{margin:0;}
	#pro_tab .pro_list > ul > li{width:90%; margin:5%;}
	#pro_tab .pro_list{margin:20px auto;}
	#pro_tab .pro_list > ul > li > a > p{font-size:1.3em;}
	#pro_tab .pro_list > ul > li > a > div.text{margin-bottom:0px;}		

	
	#service_wrap .con_area ul li:nth-child(even){background:#485056; background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 44%, rgba(255, 255, 255, 0.2) 45%, rgba(255, 255, 255, 0.2) 55%, rgba(255, 255, 255, 0) 56%, rgba(255, 255, 255, 0) 100%);background-size: 6px 6px;background-repeat: repeat;}
	#service_wrap .con_area ul li{ width:100%; border-right:0 !important;}
	#service_wrap .con_area ul li:nth-child(2){border-top:1px solid #8b949b; }
	#service_wrap .con_area ul li:nth-child(3){ border-top:1px solid #8b949b; background-image:none; 	 background:#6c747b;}
	#service_wrap .con_area ul li:nth-child(4){ border-top:1px solid #8b949b; }
	#service_wrap .con_area ul li:nth-child(5){ border-top:1px solid #8b949b; }
	#service_wrap .con_area ul li:nth-child(6){ border-top:1px solid #8b949b; }

	#online .online_area p{font-size:1.5em;}
	#online .online_area span{font-size:1em;}



	#sub_visual{height:200px; }
	#sub_visual .backgroundimg{height:200px; }
	#sub_visual .visual_area {height:200px; background-position:center top; background-size:cover;}

	
	#sub_tit {top:95px; background:none; margin:30px auto;}
	#sub_tit .title{  font-size:2em;  } 
	#sub_tit .normal_txt{font-size:1em;}
	.scontents .eng { font-size: 2em; }
	.scontents .stitle { font-size:1em;  }	

	


}


/* 반응형 작은기기 360사이즈 이하 */
@media screen and (max-width: 360px) {	


	
}






