@charset "utf-8";
.menu {width:100%;display:inline-block;margin-bottom:10px;font-weight:bold;}
.menu div {display:inline-block;float:left;padding:10px;margin-right:10px;border:1px solid #999;border-radius:5px;}
.menu .topon {background:#999;}
.menu .topon a {color:#fff;}


.menu_simple {width:100%;display:inline-block;margin-bottom:10px;font-weight:bold;}
.menu_simple div {display:inline-block;float:left;padding:5px;margin-right:5px;}

.my-top {width:100%;border-bottom:3px solid #333;color:#000;padding:10px 0;font-weight:bold;font-size:16px;margin-bottom:10px;}
.my-top1 {width:100%;color:#000;padding:10px 0;font-weight:bold;font-size:14px;}


.scontents_my_ksia {width:100%;margin:0 0 20px}


.my_wrap {margin:0 0 20px}
.my_wrap table {width:100%;border-collapse:collapse;border-spacing:0}
.my_wrap th {padding:15px 13px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:#f5f8f9;text-align:left}
.my_wrap td {padding:15px 13px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;text-align:left}

.list_title {width:100%;background:#333;color:#fff;padding:15px;font-weight:bold;}


.edit_member_btn {display:inline-block;padding:10px;font-weight:bold;background:#3a8afd;color:#fff;border-radius:8px;text-align:center}
.prn_btn {display:inline-block;width:100px;height:45px;line-height:45px;font-weight:bold;background:#3a3203;color:#fff;border-radius:3px;text-align:center}

.edit_ksia_btn {display:inline-block;width:90px;height:35px;line-height:35px;font-weight:bold;background:#3a8afd;color:#fff;border-radius:3px;text-align:center}
.cancel_ksia_btn {display:inline-block;width:90px;height:35px;line-height:35px;font-weight:bold;background:#740505;color:#fff;border-radius:3px;text-align:center}
.L1_point_btn {display:inline-block;width:50px;height:25px;line-height:25px;font-weight:bold;background:#062a5c;color:#fff;border-radius:10px;text-align:center}
.L1_point_f_btn {display:inline-block;width:50px;height:25px;line-height:25px;font-weight:bold;background:#693d03;color:#fff;border-radius:10px;text-align:center}
.L1_chk_btn {display:inline-block;width:80px;height:30px;line-height:30px;font-weight:bold;background:#352f44;color:#30f116;border-radius:10px;text-align:center}

.state_ksia_blue {display:inline-block;height:25px;line-height:25px;padding:0 5px;font-size:11px;font-weight:bold;background:#653dc0;color:#fff;border-radius:10px;text-align:center}
.state_ksia_orange {display:inline-block;height:25px;line-height:25px;padding:0 5px;font-size:11px;font-weight:bold;background:#817f07;color:#fff;border-radius:10px;text-align:center}
.state_ksia_darkblue {display:inline-block;height:25px;line-height:25px;padding:0 5px;font-size:11px;font-weight:bold;background:#140633;color:#fff;border-radius:10px;text-align:center}


.license_print_btn_sk {display:inline-block;width:180px;height:35px;line-height:35px;font-weight:bold;background:#062a5c;color:#fff;border-radius:0px;text-align:center;font-size:18px;}
.license_print_btn_sb {display:inline-block;width:180px;height:35px;line-height:35px;font-weight:bold;background:#182402;color:#fff;border-radius:0px;text-align:center;font-size:18px;}
.license_print_btn_2 {display:inline-block;width:90px;height:25px;line-height:25px;font-weight:bold;background:#122e05;color:#fff;border-radius:10px;text-align:center}
.license_print_btn_3 {display:inline-block;width:110px;height:25px;line-height:25px;font-weight:bold;background:#692c03;color:#fff;border-radius:10px;text-align:center}
.license_print_btn_4 {display:inline-block;width:90px;height:25px;line-height:25px;font-weight:bold;background:#122e05;color:#fff;border-radius:10px;text-align:center}


.KSIA_prn_btn {display:inline-block;padding:8px;font-size:12px;font-weight:bold;background:#653dc0;color:#fff;border-radius:10px;text-align:center}
.KSIA_request_btn {display:inline-block;padding:8px;font-size:12px;font-weight:bold;background:#817f07;color:#fff;border-radius:10px;text-align:center}
.list_jr_grade_1 {display:inline-block;padding:10px;font-weight:bold;background:#062a5c;color:#fff;border-radius:10px;text-align:center;font-size:25px;}