/* HEADER */
header {position:fixed; top:0; left:0; width:100%; height:140px; background: rgba(56, 46, 71, 0.85); z-index: 2000;}

header.scroll{height: 80px;}
#header.scroll .header_wrap{padding-top: 0;}
#header.scroll .header_wrap #gnb_menu > li > a{height:50px}
#header.scroll .header_wrap h1{width: 130px; padding-top: 10px; margin-right: 70px;}
#header.scroll .header_wrap h1 img{width: 100%;}
#header.scroll .all_menu {top: 80px;}
#header.scroll .all_menu_bg{top: 80px;}

.header_wrap {position: relative; width:1200px; height: 100%; margin: 0 auto; padding-top: 34px; box-sizing: border-box;}
.header_wrap h1 {float:left; width: 200px;}
.header_wrap #gnb_menu {float:left;}
.header_wrap #gnb_menu > li {width: 166px; text-align: center; float: left; position: relative;}
.header_wrap #gnb_menu > li:last-child {margin-right:0;}
.header_wrap #gnb_menu > li > a {display: block; box-sizing: border-box; font-family: 'NanumSquare', sans-serif; font-size: 19px; color:#ffffff; line-height: 70px;}

.header_wrap .right_menu {float: right;}
.header_wrap .right_menu .menu_switch{margin-top: 10px; display: none;}
.header_wrap .right_menu .menu_switch a{display:inline-block; width:69px; height:52px; text-indent: -9999px; background:url('../images/nav_open.png') center no-repeat;}
.gnb_top_menu{display: none;}
.gnb_menu_sub {display:none; position:absolute; top:110px; left:50%; margin-left:-70px; width:150px; background:rgba(35, 44, 50, 0.9); z-index:1000;}
.gnb_menu_sub ul { padding:30px 10px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}

.gnb_menu_sub ul li a { display:block; width:110px; height:28px; padding-left:10px;  font-size:14px; line-height:28px; color:#ffffff; letter-spacing: 0.3px;}
.gnb_menu_sub ul.gnb_menu_none{display:none}

.all_menu {display:none; overflow: hidden; position: fixed; top: 140px; z-index: 10; left:0; width:100%; box-sizing: border-box; background-color: #fff; border-top: 1px solid #b6b4b6; border-bottom: 1px solid #b6b4b6;}
.all_menu .all_menu_wrap {width: 1200px;  margin:0 auto;}
.all_menu .all_menu_left {float:left; width: 557px; margin-left: -360px; box-sizing: border-box; background: #b6b4b6;}
.all_menu .all_menu_left a{width: 100%; display: block;}
.all_menu .all_menu_left img{width: 100%; background-size: cover;}

.all_menu .all_menu_wrap .all_menu_right{float: left;}
.all_menu .all_menu_wrap .all_menu_right .one_depth {float: left; width: 165px; height: 233px; padding: 6px 0; border-left: 1px solid #b6b4b6;}
.all_menu .all_menu_wrap .all_menu_right .one_depth:last-child{border-right: 1px solid #b6b4b6;}
.all_menu .all_menu_wrap .all_menu_right .one_depth:last-child {margin-right:0;}
.all_menu .all_menu_wrap .all_menu_right .one_depth>a {font-family: 'Nanumsqure',sans-serif; font-size: 18px; color:#444; padding:0 20px 0 10px; background: url('../images/menu_arrow.png') right center no-repeat;}
.all_menu .all_menu_wrap .all_menu_right .one_depth ul{text-align: center;}
.all_menu .all_menu_wrap .all_menu_right .two_depth li a {display: block; font-size: 15px; color:#444; box-sizing: border-box; padding:10px 0; letter-spacing: 0.3px;}
.all_menu .all_menu_wrap .all_menu_right .two_depth li a:hover{color: #140332; font-weight: bold;}
.all_menu_bg{display: none; position: fixed; width: 100%; height: 100%; top: 140px; background: rgba(0,0,0,.2); z-index:9;}
.all_menu_bg.on{display:block;}

/* INDEX > SLIDE */ 
.slide {position:absolute; top:0; left:0; right:0; bottom:0; width:100%; background-color: rgba(35, 44, 50, 0.9); overflow:hidden; z-index:-1000;}
.slide div {float:left; width:100%;}
.slide div img {width:100%; background-size: cover;}

.slide div img:first-child{display: block;}
.slide div img:last-child{display: none;}

/* INDEX > VISUAL (fullpage 1) */ 
.visual {width:100%; height:1080px;}
.visual .visual_wrap {width:1200px; margin:0 auto; }

.visual .visual_wrap .visual_title_box {width:1200px; height:870px; box-sizing: border-box; padding-top: 32%; text-align: center;}
.visual .visual_wrap .visual_title_box .visual_img{margin-top: -140px;}
.visual .visual_wrap .visual_title_box p{font-family: 'Noto Sans KR', sans-serif;}
.visual .visual_wrap .visual_title_box .visual_img p{display: inline-block; width: 465px; padding-bottom: 33px; margin-bottom: 30px; border-bottom: 3px solid #fff;}
.visual .visual_wrap .visual_title_box .visual_img img{width: 100%;}
.visual .visual_wrap .visual_title_box .visual_title01 {/*display:none;*/ font-weight: bold; font-size: 28px; letter-spacing: 10px; color:#ffffff;}
.visual .visual_wrap .visual_title_box .visual_title02 {/*display:none;*/ font-weight: lighter; font-size: 28px; color:#ffffff;}

.visual .visual_wrap .major {width:1200px; height:210px; overflow: hidden; position:absolute;bottom:0;z-index:10;}
.visual .visual_wrap .major .major_cont {position:relative; float:left; width:400px; height:210px; box-sizing: border-box; -webkit-transition:.3s all ease; -ms-transition:.3s all ease; -moz-transition:.3s all ease; -o-transition:.3s all ease; transition:.3s all ease; padding: 30px 20px;}
.visual .visual_wrap .major .major_cont .major_line{display: block; width: 30px; height: 1px; background: #fff;}
.visual .visual_wrap .major .major_cont h3{font-size: 30px; color: #fff; margin: 16px 0;}
.visual .visual_wrap .major .major_cont ul{font-size: 18px; color: #fff; line-height: 27px;}

.visual .visual_wrap .major .major_cont .major_more {position:absolute; display:block; bottom:20px; right:20px; width:30px; height:30px; background: url('../images/major_more.png') center no-repeat; background-size: cover;}
#major_left {background: rgba(39, 27, 59, 0.7);}
#major_center {background: rgba(235, 102, 48, 0.7);}
#major_right {background: rgba(250, 191, 1, 0.7);}

/* INDEX > NEWS (fullpage 2) */ 
.news {width:100%; height:867px; background: #f8f8f8; background: url(../images/bg1.jpg);}
.news .news_wrap {width:1200px; height:867px; box-sizing: border-box; margin:0 auto; padding:130px 0 70px 0;}
.news .news_wrap h3{font-size: 40px; color: #fff; margin-bottom: 65px; text-align: center; font-family: 'NanumSquare', sans-serif;}
.news .news_wrap .news_list img{width: 100%;}

.news .news_wrap .news_box1 li{width: 49%; float: left; margin-bottom: 25px; overflow: hidden;}
.news .news_wrap .news_box1 .news_a1{margin-right:2%;}

.news .news_wrap .news_box2 li{width: 32%; float: left; margin-right: 2%; background-size: cover; background-repeat: no-repeat; }
.news .news_wrap .news_box2 a{display: block;}
.news .news_wrap .news_box2 img{width: 100%;}
.news .news_wrap .news_box2 li:last-child{margin-right: 0;}

/* INDEX > INFO (fullpage 3) */
.info {width:100%; height:974px; background: #f2f2f2;}
.info .info_wrap {position:relative;width:1200px; height:974px; padding:104px 0 60px 0; box-sizing: border-box; margin:0 auto; }
.info .info_wrap .info_left {position: relative; float:left; width:600px; height:840px; overflow: hidden;}
.info .info_wrap .info_left .info_manage {position: absolute; bottom:0; left:0; width:300px; height:560px; box-sizing: border-box; padding-top:65px; padding-left: 38px; background:#ffffff;}
.info .info_wrap .info_left .info_manage .info_title .manage_title {font-size: 30px; color:#424242; margin-bottom:10px; font-family: 'NanumSquare', sans-serif;}
.info .info_wrap .info_left .info_manage .info_title .manage_text { font-size: 16px; color:#424242; line-height: 22px; }
.info .info_wrap .info_left .info_manage ul {width: 100%; position:absolute;left:0; bottom: 44px; padding:0 38px; box-sizing: border-box;}
.info .info_wrap .info_left .info_manage ul li {width: 207px; border-bottom: 1px solid #e2e2e2; background:url('../images/main_bg7.gif') 10px center no-repeat; /*-webkit-transition:.3s all ease; -moz-transition:.3s all ease; -ms-transition:.3s all ease; -o-transition:.3s all ease; transition:.3s all ease;*/}
.info .info_wrap .info_left .info_manage ul li a {display:block; width:100%; font-size: 16px; margin-bottom:1px; padding: 17px 0 17px 36px; line-height:18px; box-sizing: border-box; color: #424242;}

.info .info_wrap .info_lt_w{position: absolute; top: 384px; left: 300px; width: 300px; height:560px; overflow:hidden;}
.info .info_wrap .info_lt_w .info_text {position:relative; box-sizing: border-box; text-align: center; padding-top:80px; color:#ffffff; z-index:1000; font-size: 16px;}
#info_lt{background: #ebae0c;width: 300px;height: 280px;}

.info .info_wrap .info_right {float: left; width:600px; height:840px;}
.info .info_wrap .info_right .info_text, .info .info_wrap .info_right .info_images {float:left; width:300px; height:280px;}
.info .info_wrap .info_right .info_text {position:relative; box-sizing: border-box; text-align: center; padding-top:80px; color:#ffffff; z-index:1000;}
.info .info_wrap .info_area .info_r_title {font-family: 'Nanumsquare',sans-serif; font-size: 30px;}
.info .info_wrap .info_area .info_r_title:after{content:""; display: block; width: 42px; height: 2px; background: #fff; margin: 30px auto;}
.info .info_wrap .info_right .info_text .info_r_text {font-family: 'Noto Sans KR',sans-serif; font-size: 16px; line-height:20px; margin-top:18px;}

.info .info_wrap .info_right .info_images {overflow: hidden;}
.info .info_wrap img {-webkit-transform: scale(1.0); -ms-transform: scale(1.0); -moz-transform: scale(1.0); -o-transform: scale(1.0); transform: scale(1.0); -webkit-transition:.5s all ease; -ms-transition:.5s all ease; -moz-transition:.5s all ease; -o-transition:.5s all ease; transition:.5s all ease;}
.info .info_wrap img.on {-webkit-transform: scale(1.1); -ms-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); -webkit-transition:.5s all ease; -ms-transition:.5s all ease; -moz-transition:.5s all ease; -o-transition:.5s all ease; transition:.5s all ease;}
#info_rt {background: #220057;}
#info_rc {background: #db4d06;}
#info_rb {background: #b4102b;}
  
/* INDEX > SPONSOR (fullpage 4) */    

.sponsor {width:100%; height:805px; padding: 140px 0; box-sizing: border-box; background: #fff;}
.sponsor .sponsor_wrap {width:1200px;  margin:0 auto;}
.sponsor .sponsor_wrap .sponsor_main {overflow: hidden;}

.sponsor .sponsor_wrap .sponsor_main{font-family: 'NanumSquare', sans-serif; background: #fff;}
.sponsor .sponsor_wrap .sponsor_main ul{border: 1px solid #e5e5e5;}
.sponsor .sponsor_wrap .sponsor_main li{float: left; width: 199.5px; box-sizing: border-box;}
.sponsor .sponsor_wrap .sponsor_main li{border-right: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;}
.sponsor .sponsor_wrap .sponsor_main li:nth-child(6n){border-right: 0;}
.sponsor .sponsor_wrap .sponsor_main li:nth-child(12n) ~ li{border-bottom: 0;}
.sponsor .sponsor_wrap .sponsor_main img{width: 100%;}
.sponsor .sponsor_wrap .sponsor_main a{display: block; padding: 56px 0;}

.main_bottom {height:1082px;}

/* ==================== 1550 PX ==================== */
@media screen and (max-width:1550px){
    .visual .visual_wrap .visual_title_box {padding-top:350px;}
    .visual .visual_wrap .visual_title_box .visual_img{margin-top: -155px;}
    .news .news_wrap{padding: 70px 0 70px 0;}
    .info .info_wrap{padding: 65px 0 60px 0;}
    .info .info_wrap .info_lt_w{top:345px;}
    .notice{padding: 85px 0;}
    #fp-nav.right{display: none;}

	.sponsor{width: 100%; height: auto; padding: 50px 0;}
}

/* ==================== 1024 PX ==================== */
@media screen and (max-width:1024px){
/* HEADER (1024px) */ 
#fp-nav.right{display:none;}
header{height: 80px;}
.header_wrap {width:98%; padding: 0 1.5%;}
.header_wrap h1{width:130px;padding-top: 10px;}
.header_wrap h1 img{width: 100%;}
    
.gnb_top_menu{display: block; font-family: 'NanumSquare', sans-serif; font-size: 14px;}
.gnb_top_menu li{float: left; width: 50%; text-align: center; box-sizing: border-box;}
/* .gnb_top_menu ul{height: 100%;} */
.gnb_top_menu .id{display: block; width: 50%; float: left;}
.gnb_top_menu .login_btn{float: right;}
.gnb_top_menu .id_box{width: 100%; padding: 25px;}
.gnb_top_menu .id_box a{padding: 0;}
.gnb_top_menu .id_box a span{padding: 10px 30px; border: 1px solid #f49a0f; box-sizing: border-box;}
.gnb_top_menu li a{display: block; padding: 14px 0;} 
.gnb_top_menu li:nth-of-type(1){border-right: 1px solid #e3e3e3;}
    
header #gnb_menu{display:none; float:none; position:fixed; right:0; top:0; width: 75%; height: 100%; max-width:500px; background:#fff; z-index:1200; overflow-y: auto;} 
header #gnb_menu > li{float:none !important; border-bottom:1px solid #e3e3e3; margin-right:0 !important;}
/* =========> right_menu plus button change */
header .header_wrap #gnb_menu > li > a{height:auto !important; color:#222 !important;font-size:16px !important; line-height:30px !important; padding:14px 0 !important; padding-left:25px !important;background:url(../images/nav_down.png) 95% center no-repeat ; background-size: 16px;}
header .header_wrap #gnb_menu > li > a{text-align: left;}
/* =========> right_menu minus button change */
header .header_wrap #gnb_menu > li.m_on > a{background:url(../images/nav_up.png) 95% center no-repeat; background-size: 16px;}
header .header_wrap #gnb_menu > li.m_on > .gnb_menu_sub ul{background: #eee;}
    
.header_wrap #gnb_menu > li{width: 100%; text-align: left;}

.gnb_menu_sub ul.gnb_menu_none{display: block;}
.gnb_menu_sub {position:static; width:auto; margin:0; background:#fff;}
.gnb_menu_sub ul{padding:0;}
.gnb_menu_sub ul li a{width:auto; color:#787878; font-size:18px; padding:15px 30px;}
    
/* =========> right_menu switch button change */  
header .header_wrap .right_menu .menu_switch #toggle_menu.mm_on{width:80px;height:80px;position:absolute;right:490px;top:0; background:url(../images/sb_nav_close.png) center center no-repeat  #eee; z-index:1000; background-size: 25px;}

.header_wrap .right_menu .menu_switch{margin-top:0;}
header .header_wrap .right_menu .menu_switch a{height:80px;}

.slide div img:first-child{display: none;}
.slide div img:last-child{display: block; width: auto; height: 100%;}
    
/* INDEX > VISUAL (1024px) */ 
.visual .visual_wrap .visual_title_box .visual_img{margin-top: 0;}
.visual .visual_wrap .major .major_cont{width:33%;}
.visual .visual_wrap .major .major_cont.on{width:33% !important;}
.visual .visual_wrap .major #major_left{width:34%!important;}

.visual {width:100%; height:1080px !important;}
.visual .visual_wrap {width:100%;}
.visual .visual_wrap .visual_title_box {width:100%; height:870px !important; padding-top:200px;}
.visual .visual_wrap .major {width:100%;}

/* INDEX > NEWS (1024px) */ 
.news .news_wrap {width:100%;height:auto;padding:50px 0;}
.news {height:auto !important;}
.news .fp-tableCell{height:auto !important;}
.news .news_wrap .news_box1 li{width: 49%;}
    
/* INDEX > INFO (1024px) */ 
.info {width:100%; box-sizing:border-box; padding:0 3%; height:auto !important;}
.info .fp-tableCell{height:auto !important;}
.info .fp-scrollable{height:auto !important;}
.info .info_wrap {width:100%; height:auto; padding:50px 0;}
.info .info_wrap .info_left {width: 100%; height: 840px; float:none;}
.info .info_wrap .info_right {width: 100%; height: 840px; float:none;}
.info .info_wrap .info_left > img{width:100%; height:282px;}
.info .info_wrap .info_left .info_manage{width:50%;}
.info .info_wrap .info_lt_w{width:50%;top: 330px;}
#info_lt{width:100%;}
.info .info_wrap .info_lt_w .info_images > img{width:100%;height:280px;}
.info .info_wrap .info_lt_w {left: auto;right:0;}
.info .info_wrap .info_right .info_area{width:100%;height:280px;}
.info .info_wrap .info_right .info_text, .info .info_wrap .info_right .info_images{width:50%;height:100%;}
.info .info_wrap .info_right .info_images > img{width:100%;height:100%;}
.info .info_wrap .info_left .info_manage ul li {width: 100%; }

/* INDEX > sponsor (1024px) */ 
.main_bottom {width:100%; height:auto !important; }
.main_bottom .fp-tableCell{height:auto !important;}
.main_bottom .fp-scrollable{height:auto !important;}

.sponsor .sponsor_wrap{width: 100%;}
.sponsor .sponsor_wrap .sponsor_main li{width: 25%;}
.sponsor .sponsor_wrap .sponsor_main li:nth-child(4n){border-right : 0;}
.sponsor .sponsor_wrap .sponsor_main li:nth-child(6n){border-right: 1px solid #e5e5e5;}
.sponsor .sponsor_wrap .sponsor_main li:nth-child(12n){border-right: 0;}
.sponsor .sponsor_wrap .sponsor_main li:nth-child(12n) ~ li{border-bottom: 1px solid #e5e5e5;}
.sponsor .sponsor_wrap .sponsor_main li:nth-child(16n) ~ li{border-bottom: 0;}
    
/* FOOTER (1024px) */ 
footer .footer_wrap {width: 98%;padding: 40px 1% 48px;}
}

@media screen and (max-width:800px){
/* INDEX > VISUAL (800px) */ 
.visual .visual_wrap .visual_title_box .visual_img{margin-top: -60px;}
.visual .visual_wrap .visual_title_box .visual_img p{width: 295px;}
.visual .visual_wrap .major {height:420px;}
.visual .visual_wrap .major #major_left{float:none;width:100% !important;}
.visual .visual_wrap .major #major_center, .visual .visual_wrap .major #major_right{width:50% !important;}
    
/* INDEX > NEWS (800px) */ 
.news .news_wrap{padding: 40px 0;}
.news .news_wrap h3{margin-bottom: 40px;}
.news .news_wrap .news_box1 li{width: 100%; float: none;}   
  
}

@media screen and (max-width: 768px){
    .slide div img:last-child{display: block; width: 100%; height: auto;}
    .visual .visual_wrap .visual_title_box .visual_title01 {letter-spacing: 0;}
}

/* ==================== 630 PX ==================== */
@media screen and (max-width:630px){
header{height: 52px;}
.header_wrap h1{width: 72px;}
.header_wrap h1 > a{display:block;}
.header_wrap h1 > a > img{width:100%;}
header .header_wrap .right_menu .menu_switch #toggle_menu a{height:52px;}
header .header_wrap .right_menu .menu_switch #toggle_menu.mm_on{width:20%;right:75%;max-width:80px;}
header .header_wrap .right_menu .menu_switch a{width:100%; height: 52px;}

.visual .visual_wrap .visual_title_box .visual_title01, .visual .visual_wrap .visual_title_box .visual_title02 {font-size: 25px;}

.info .info_wrap .info_left {height: 670px;}
.info .info_wrap .info_left > img {height: 230px;}
.info .info_wrap .info_left .info_manage {height: 470px;padding-top: 44px;}
.info .info_wrap .info_left .info_manage .info_title .manage_text{display: none;}
.info .info_wrap .info_right .info_text{padding-top: 70px;}
.info .info_wrap .info_lt_w {height: 470px;top: 250px;}
#info_lt {height: 235px;}
.info .info_wrap .info_lt_w .info_text{padding-top: 50px;}
.info .info_wrap .info_lt_w .info_images > img {height: 235px;}

.sponsor .sponsor_wrap .sponsor_main li{width: 50%;}
.sponsor .sponsor_wrap .sponsor_main li:nth-child(2n){border-right : 0;}
.sponsor .sponsor_wrap .sponsor_main a{padding: 6px 0;}
}

/* ==================== 480 PX ==================== */
@media screen and (max-width:480px){
.visual .visual_wrap .visual_title_box {padding-top:160px;}
.visual .visual_wrap .visual_title_box .visual_img{display: none;}
.visual .visual_wrap .visual_title_box .visual_title01 {font-size: 25px; letter-spacing: 5px;}
.visual .visual_wrap .visual_title_box .visual_title02 {font-size: 25px;}
.visual .visual_wrap .major {height:570px;}
.visual .visual_wrap .major .major_cont{padding: 20px; height:190px;}
.visual .visual_wrap .major #major_center,.visual .visual_wrap .major #major_right{float:none;width:100% !important;}
    
.info .info_wrap .info_area .info_r_title{font-size: 25px;}
/*.info .info_wrap .info_area .info_r_title:after{margin: 20px auto;}*/
.info .info_wrap .info_left .info_manage ul{padding: 0 18px;}
.info .info_wrap .info_left .info_manage ul li a {padding-left: 25px; font-size: 15px; background-position: 6px center;}
.info .info_wrap .info_left .info_manage .info_title .manage_title {font-size:25px;}
.info .info_wrap .info_left .info_manage .info_title .manage_text {font-size:14px;}
.info .info_wrap .info_right {height: 600px;}
.info .info_wrap .info_right .info_area {height: 200px;}
.info .info_wrap .info_right .info_text {padding-top: 35px;}
.info .info_wrap .info_lt_w .info_text .info_r_text{padding:0 4%;}
    
.news .news_wrap .news_box2 .news_a3, .news .news_wrap .news_box2 .news_a4, .news .news_wrap .news_box2 .news_a5{width: 100%; margin-bottom: 25px;}
}

/* ==================== 375 PX ==================== */
@media screen and (max-width:375px){
.visual .visual_wrap .visual_title_box .visual_title01 {font-size: 25px; letter-spacing: 0px;}
.visual .visual_wrap .visual_title_box .visual_title02 {font-size: 25px;}
.info .info_wrap .info_right .info_text .info_r_text{padding: 0 4%;}
.info .info_wrap .info_right .info_text .info_r_text > br{display:none;}
.info .info_wrap .info_left .info_manage{padding-left: 25px;}
}
