@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* 
    FONT
    font-family: 'NanumSquare', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
*/

html {margin:0;padding:0;height:100%;}
body {margin:0;padding:0; width:100%;font-family:'Noto Sans KR',sans-serif; font-size:13px; line-height:1.2; color:#444444; font-weight: 400;}
div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,input,table,tr,th,td,button,textarea,select {margin:0;padding:0}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal}
img {border:0;vertical-align:top}
ul,ol,dl,dt,dd,li {list-style:none; word-break:break-word}
table {width:100%; table-layout:fixed}
table, th, td {border-collapse:collapse;border-spacing:0; border:0; font-weight:normal;word-wrap:break-word}
caption {overflow:hidden;width:0; height:0;font-size:0;line-height:0}
legend {overflow:hidden;width:0; height:0;font-size:0;line-height:0;}
fieldset, blockquote, iframe, button {border:none}
i, em, u, cite {font-style:normal}
strong,em, b {font-weight:normal}
a {color:#666;text-decoration:none;}
button {width:auto; border:none;cursor:pointer;vertical-align:middle;margin:0; padding:0; outline:none;*overflow:visible; background:none; letter-spacing:-1px}
button::-moz-focus-inner {margin:0;padding:0;border:0}
button > span {position:relative}
button,input[type="submit"], input[type="button"], input[type="reset"] {cursor:pointer; border:0}

input[type="hidden"] { width:0; height:0;}
input {padding:0 10px; margin:0; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; /* width:279px; */ height:34px; line-height:34px; font-family:'Noto Sans KR',sans-serif; font-size:16px; color:#444; border:1px solid #ccc; -webkit-appearance:none; -webkit-border-radius: 0;}
input[type="file"] {display:inline-block; height:34px; border:1px solid #666; line-height:15px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  box-sizing:border-box}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {/*-webkit-appearance: none;*/margin: 0;} /* input number 기본 버튼 reset*/
input[type="text"]::-ms-clear {display: none;}
input[disabled] { color:#333333; background:#fff}
*::-webkit-input-placeholder {color:#ccc !important; font-family:'Noto Sans KR',sans-serif}
*:-moz-placeholder {color:#ccc !important; font-family:'Noto Sans KR',sans-serif} /* FF 4-18 */
*::-moz-placeholder {color:#ccc !important; font-family:'Noto Sans KR',sans-serif} /* FF 19+ */
*:-ms-input-placeholder {color:#ccc !important; font-family:'Noto Sans KR',sans-serif} /* IE 10+ */
input[type="text"]:focus, input[type="password"]:focus { border:1px solid #313131;}
select{-webkit-appearance:none; -webkit-border-radius: 0;}

.clear {clear: both; font-size: 0; line-height: 0; overflow: hidden; height: 0 !important; }
.clearfix: after{content: "";display: block;height: 0;clear: both;visibility: hidden;}
.blind {position: absolute;top: 0px;left: 0px;overflow: hidden;display: inline-block !important;width: 1px !important;height: 1px !important;margin: 0 !important;font-size: 0 !important;line-height: 0 !important;}

/* skipnav */
#skipnav a {display:block;height:1px;width:1px;margin:0 -1px -1px 0;padding:0;overflow:hidden;font-size:1px;line-height:0}
#skipnav a:active,
#skipnav a:focus,
#skipnav a:hover {width:100%;height:auto;margin:0;padding:10px 0;text-indent:10px;font-weight:700;font-size:13px;color:#333;line-height:1;text-decoration:none;text-align:center}

/* layout */
#wrap {position:relative; width:100%; min-width:1200px;}
#content {position: relative;}
.footer {width:100%; /*height: 252px;*/}
.footer .footer_wrap .inwrap{position:relative;}
footer {background:#fff;}
.sb_footer{background: #272f3c;}
#footer_banner{height: 160px;/**/ background: #fff; border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4;}
footer .footer_banner .inwrap{text-align: center; padding: 50px 0;}
footer .footer_banner {position:relative;  width: 1200px; margin: 0 auto;}
footer .footer_banner ul {overflow:hidden; display: inline-block; width:1080px;}
footer .footer_banner ul:after { content:''; clear:both; display:block;}
footer .footer_banner ul li {width: 154px; float:left; margin:0 15px;  /* line-height:158px; */}
footer .footer_banner ul li a { display:inline-block;}
footer .footer_banner ul li img {width: 100%; vertical-align:middle;}
footer .footer_banner .btn_arrow { position:absolute;}
footer .footer_banner .btn_arrow.prev { top: 63px; left:0}
footer .footer_banner .btn_arrow.next { top: 63px; right:0;}

footer .footer_wrap {width: 1200px; margin: 0 auto; padding:32px 68px 37px;}
footer .footer_wrap li{display: inline-block; color: #9096a1;}
footer .footer_wrap li:after{content: "|"; margin: 0 5px;}
footer .footer_wrap li:first-child:after, footer .footer_wrap li:last-child:after{content: "";}
footer .footer_wrap li a, footer .footer_wrap li span{color: #9096a1;}

footer .f-logo{position: absolute;bottom: -10px;right: 10%;display: block;width: 46px;height: 46px;/* background: #444a51; */text-align: center; border:1px solid #9096a1;padding:10px;box-sizing:border-box;}
footer .f-logo:before{display:inline-block;height:100%;content:"";vertical-align:middle;}
footer .f-logo img{width:100%;vertical-align:middle;}

#hd_pop,
#hd_wrapper,
#tnb ul,
#gnb .gnb_wrap,
#container_wr,
#ft_wr{width:1200px}

/* 팝업레이어 */
#hd_pop {z-index:99999999999999999999999999;width:100%;position:absolute;margin:0 auto;height:0;top:0px;left:0px}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff; l}
.hd_pops img{max-width:100%}
.hd_pops_con {}
.hd_pops_footer {padding: 0;background:#000;color:#fff;text-align:left;position:relative;}
.hd_pops_footer:after {display:block;visibility:hidden;clear:both;content:""}
.hd_pops_footer button {padding: 10px;border:0;color:#fff}
.hd_pops_footer .hd_pops_reject{background:#000;text-align:left}
.hd_pops_footer .hd_pops_close{background:#393939;position:absolute;top:0;right:0}