@charset "utf-8";

.star, .star2{padding-left: 15px; position: relative; font-size: 14px;}
.star.mt{margin-top: 10px;}
.star:before{position: absolute; content:"*"; left: 0; top: 3px;}
.star2:before{position: absolute; content:"※"; left: -5px; top: 0;}
#scroll_top{position: fixed; bottom: 58px; right: 10%; z-index: 9999; opacity: 0; transition: all, .3s; /*display: none;*/ }
#scroll_top.on{/*display: block;*/ opacity: 1; }

/* SB_HEADER */
#sb_header{width: 100%; position: fixed; top: 0; z-index: 9999; background: #fff; border-bottom: 1px solid #ddd;}

#sb_header.scroll .header_wrap{height: 80px; padding-top: 0;}
/*#sb_header.scroll .header_wrap #gnb_menu > li > a{height: 70px;}*/
#sb_header.scroll .header_wrap h1{width: 130px; padding-top: 10px; margin-right: 70px;}
#sb_header.scroll .header_wrap h1 img{width: 100%;}
#sb_header.scroll .all_menu {top: 121px;}
#sb_header.scroll .all_menu_bg{top: 122px;}

#sb_header .all_menu{top: 181px; z-index: 88888;}
#sb_header .all_menu_bg{top: 182px;}

#sb_header .header_wrap{height:140px; margin:0 auto; padding-top: 34px;}
#sb_header .header_wrap h1 {float:left; /* width: 200px; */}
#sb_header .header_wrap #gnb_menu{margin-top:0;}
#sb_header .header_wrap #gnb_menu > li > a {color:#444;}

#sb_header .header_wrap .right_menu .menu_switch a{background:url('../images/sb_nav_open.png') center no-repeat;}

#sb_header .header_top_wrap{height: 41px; position: relative; background: #140332;}
#sb_header .header_top_wrap .header_top_gnb{margin: 0 auto; width: 1200px; text-align: right;}
#sb_header .header_top_wrap .header_top_gnb ul{float: right;}
#sb_header .header_top_wrap .header_top_gnb span{float: left;}
#sb_header .header_top_wrap .header_top_gnb ul a{padding: 12px 23px 12px 43px;}
#sb_header .header_top_wrap .header_top_gnb li{display: inline-block; }
#sb_header .header_top_wrap .header_top_gnb li:hover{background: #382e47;}
#sb_header .header_top_wrap .header_top_gnb a{display: block; color: #fff; font-family: 'NanumSquare', sans-serif;}
#sb_header .header_top_wrap .header_top_gnb .top_mail a{padding: 12px 23px;}
#sb_header .header_top_wrap .header_top_gnb .top_login{background: url(../images/sub_login_icon.png) no-repeat 18px center;}
#sb_header .header_top_wrap .header_top_gnb .top_qna{background: url(../images/sub_qna_icon.png) no-repeat 18px center;}

/* 18-12-12 추가 */
#sb_header .header_wrap h1 span{color: #210058;}
#sb_header.scroll .header_wrap h1 span{display: none;}
#sb_header .header_wrap #gnb_menu{margin-top:15px;}
#sb_header.scroll .header_wrap #gnb_menu{margin-top:5px;}
/* 18-12-12 추가 || 수정 */
#sb_header .header_wrap {padding-top: 17px;}

/* .CP (ALL) */ 
.cp .sb_top_menu li{width: 20%;}
.cp .sb_top_bg{background-image: url(../images/sb_bg_1.jpg);}

.sbclear:after{content: ""; display: block; clear: both;}
.sbcenter{padding: 110px 0 250px; position:relative;background:#fff}

#sbcenter{margin-top: 100px; font-size: 15px;}
#sbcenter .sb_top_bg{width: 100%; height: 360px; position: relative; background-repeat: no-repeat; background-position: top center; background-size: cover; text-align: center;}
#sbcenter .sb_top_bg .inner_wrap{width: 100%; height: 100%; text-align: center; display: table;}
#sbcenter .sb_top_bg h2{display: table-cell; width: 100%; font-size: 50px; vertical-align: middle; color: #fff; font-family: 'NanumSquare', sans-serif; font-weight: bold;}
#sbcenter .sb_top_bg h2:after{content:""; display: block; margin: 40px auto; width: 100px; height: 2px; background: #fff;}
#sbcenter .sb_top_menu{position: absolute; bottom: 0; width: 100%;}
#sbcenter .sb_top_menu ul{width: 1280px; margin: -60px auto 0; text-align: center; font-size: 18px;}
#sbcenter .sb_top_menu li{float: left; background: rgba(0,0,0,.6); transition: all .3s; border-right: 1px solid #959595; box-sizing: border-box; font-family: 'NanumSquare', sans-serif;}
#sbcenter .sb_top_menu li:last-child{border-right: none;}
#sbcenter .sb_top_menu li:hover{background: #fff;}
#sbcenter .sb_top_menu li:hover a{color: #222;}
#sbcenter .sb_top_menu li a{display: block; padding: 20px 0; color: #fff;}
#sbcenter .sb_top_menu li.on{background: #fff; color: #222;}
#sbcenter .sb_top_menu li.on a{color: #222;}

.sbcenter .sb_content{text-align: left;}
.sbcenter .sb_content .sb_top_text{text-align: center; margin-bottom: 72px; padding: 0 10px;}
.sbcenter .sb_content .sb_top_text h3{font-size: 31px; display: inline-block; font-family: 'NanumSquare', sans-serif;}

/* SB_PREV , SB_NEXT BTN*/
.sbcenter .sb_content .sb_top_text a{display: none;}
.sbcenter .sb_content .sb_top_text img{width: 100%;}
.sbcenter .sb_content .sb_top_text .sb_prev{float: left;}
.sbcenter .sb_content .sb_top_text .sb_next{float: right;}

/* CP_CEO.html */
.cp_ceo .sb_content .sb_text_area{width: 100%; line-height: 25px;  box-sizing: border-box;}
.cp_ceo .sb_content .sb_text_area .sb_full_bg{}
.cp_ceo .sb_content .sb_text_area .sb_text_box_1,
.cp_ceo .sb_content .sb_text_area .sb_text_box_2{width: 1200px;}
.cp_ceo .sb_content .sb_text_box_1{margin: 0 auto; background: #f3f3f3; box-sizing: border-box;}
.cp_ceo .sb_content .sb_text_box_1 img{width: 100%;}
.cp_ceo .sb_content .sb_text_box_1 .ceo_img_m{display: none;}
.cp_ceo .sb_content .sb_text_box_2 div{width: 50%; float: left; padding: 0 1%; box-sizing: border-box;}
.cp_ceo .sb_content .sb_text_box_2{margin: 80px auto 0; box-sizing: border-box;}
.cp_ceo .sb_content .sb_text_box_2 .sb_name{display: block; text-align: right; padding: 0 245px 0 0; font-size: 24px; background: url(../images/ceo_sign.jpg) right no-repeat;}
.cp_ceo .sb_content .sb_text_box_2 .sb_name span{font-size: 16px;}
.cp_ceo .sb_content .sb_text_box_2 .text_top{margin-bottom: 28px; font-size: 20px; font-weight: 500;}
.cp_ceo .sb_content .sb_text_box_2 .text_bottom{padding: 14px 0 84px; font-size: 20px;}
.cp_ceo .sb_content .sb_text_box_2 span{display: block; margin: 14px 0;}
/* .cp_ceo .sb_content .sb_text_box_2 strong{color:#24015c;font-weight:bold;} */

/* CP_ABOUT.html > .TAB_MENU_AREA | 탭 사용 페이지 모두 지정될 수 있음 | */
.tab_wrap{width: 1200px; margin: 0 auto; text-align: center;}
.tab_menu_area{margin-bottom: 50px;}
.tab_menu_area .tab_menu li{width: 25%; float: left; color: #ccc; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; box-sizing: border-box;}
.tab_menu_area .tab_menu li:last-child{border-right: 1px solid #ccc;}
.tab_menu_area .tab_menu li a{color: #ccc;}
/*.tab_menu_area .tab_menu li.on{border: 1px solid #f49a0f; color: #000;}
.tab_menu_area .tab_menu li.on a{color: #000;}*/
.tab_menu_area .tab_menu li{position:relative;}
.tab_menu_area .tab_menu li.on:before{content:""; position: absolute; border: 2px solid #f49a0f; width: 100%; height: 100%; top: 0; left: 0; z-index: 99; box-sizing: border-box;}
.tab_menu_area .tab_menu li.on a{color: #000;}
.tab_menu_area .tab_menu li a{display: block; padding: 20px 0;}

.inner_menu .tab_menu li.on:before{border: none;}

.tab_menu_top ul{margin-top: 20px;}
.tab_menu_top ul li{width: 33.3%; float: left;  border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; box-sizing: border-box;}
.tab_menu_top ul li:last-child{border-right: 1px solid #ccc;}
.tab_menu_top ul li a{display: block; padding: 20px 0;}
.tab_menu_top ul li.on{border: 2px solid #f49a0f;}

/* CP_ABOUT.html > .TAB_LIST_AREA | 탭 사용 페이지 모두 지정될 수 있음 | */
.tab_list_area img{width: 100%;}

/* CP_ABOUT.html*/
/* 18-12-14 tab 으로 인한 추가 */
.cp_about .tab_click_list > div:first-child{display:block;}
.cp_about .tab_click_list > div ~ div{display: none;}
.cp_about .tab_click_list.main_history > div:first-child{display: none;}

.cp_about .tab_list_area .cp_box{padding: 85px 0 106px; text-align: left;}
.cp_about .tab_list_area .cp_box div{float: left; width: 50%;}
.cp_about .tab_list_area .cp_bg{background: #f5f5f5; line-height: 48px; font-size: 17px; color: #666666;}
.cp_about .tab_list_area .cp_bg li:before{content:""; padding-left: 20px; background: url(../images/li_btn.gif) center no-repeat; margin-right: 9px;}

.cp_about .tab_list_area .cp_box .cp_left{padding-left: 89px; box-sizing: border-box;}
.cp_about .tab_list_area .cp_logo .cp_left{padding-left: 0; width: 47%;}
.cp_about .tab_list_area .cp_logo .cp_right{width: 53%;}
.cp_about .tab_list_area .cp_logo .cp_right .cp_table{margin-left: 51px; box-sizing: border-box; font-size: 17px;}
.cp_about .tab_list_area .cp_logo .cp_right .cp_table{border-top: 3px solid #656565; border-bottom: 3px solid #656565;}
.cp_about .tab_list_area .cp_logo .cp_right .cp_table li{padding: 20px 0; border-bottom: 1px solid #ccc;}
.cp_about .tab_list_area .cp_logo .cp_right .cp_table li:last-child{border-bottom: 0;}
.cp_about .tab_list_area .cp_logo .cp_right .cp_table strong{font-weight: bold; width: 24%; text-align: right; float: left; color:#444;}
.cp_about .tab_list_area .cp_logo .cp_right .cp_table span{width: 68%; display: block; float: right;}
.cp_about .tab_list_area .cp_logo .cp_right .cp_table li:after{content: ""; display: block; clear: both;}

/* .cp_about .tab_list_area .cp_logo_txt li{width: 33%; height: 100px; float: left; padding: 0 3%; box-sizing: border-box; border-right: 1px solid #ddd; font-size: 16px; font-weight: lighter;}
.cp_about .tab_list_area .cp_logo_txt li span{display:block;}
.cp_about .tab_list_area .cp_logo_txt li:last-child{border-right: none;}
.cp_about .tab_list_area .cp_logo_txt li strong{display: inline-block; padding: 2px 0 32px 32px; font-size: 20px; font-weight: bold; background-repeat: no-repeat; background-position: 0 5px;}
.cp_about .tab_list_area .cp_logo_txt li .cp_icon1{background-image: url(../images/cp_icon1.png);}
.cp_about .tab_list_area .cp_logo_txt li .cp_icon2{background-image: url(../images/cp_icon2.png);}
.cp_about .tab_list_area .cp_logo_txt li .cp_icon3{background-image: url(../images/cp_icon3.png);} */

.cp_about .tab_list_area .cp_box.cp_logo_txt{padding:105px 2% 20px;}
.cp_about .tab_list_area .cp_box.cp_logo_txt .sb_tit{margin-bottom:30px;}
.cp_about .tab_list_area .cp_box.cp_logo_txt img{width:auto;}
.cp_about .tab_list_area .cp_box.cp_logo_txt p{line-height:25px;}
.cp_about .tab_list_area .cp_box.cp_logo_txt .cp_left{float:left;width:68%;padding:0;}
.cp_about .tab_list_area .cp_box.cp_logo_txt .cp_right{float:right;width:32%;text-align:center;}

.cp_about .tab_list_area .cp_history{margin-top: 25px;}
.cp_about .tab_list_area .cp_history > ul > li{padding: 40px 0; border-bottom: 1px solid #ddd;}
.cp_about .tab_list_area .cp_history > ul > li > ul{float: right; text-align: left; width: 80%; font-size: 15px; line-height: 30px;}
.cp_about .tab_list_area .cp_history > ul > li > strong{float: left; width: 20%; font-family: "montserrat", sans-serif; font-weight: lighter; font-size: 30px; color:#444;}
.cp_about .tab_list_area .cp_history > ul > li > ul li{position: relative; padding-left: 15px;}
.cp_about .tab_list_area .cp_history > ul > li > ul li:before{position: absolute; content:"·"; left: 0; margin-right: 9px;}
.cp_about .tab_list_area .cp_history li:after{content:""; display: block; clear: both;}

.cp_about .tab_list_area .cp_chart{padding: 0 105px; margin-top: 106px;}
.cp_about .tab_list_area .cp_chart img{width: 100%;}
.cp_about .tab_list_area .m-chart{display:none;}

.tab_list_area .cp_box{/*margin-top: 92px; */text-align: left;}
.tab_list_area .cp_box h4{margin-bottom: 30px; border-left: 3px solid #f49a0f; padding-left: 15px; font-size: 20px;}
.tab_list_area .cp_box h4 span{margin-left: 12px; font-family: "montserrat", sans-serif; font-weight: lighter;}

.cp_about .tab_list_area .cp_president ol > li{width: 16%; margin-bottom: 25px; float: left; margin-right: 5%;}
.cp_about .tab_list_area .cp_president ol ul img{width: 100%;}
.cp_about .tab_list_area .cp_president ol ul .prd_name{margin-bottom: 12px;}
.cp_about .tab_list_area .cp_president ol ul .prd_img{padding: 5px; border: 1px solid #ccc;}
.cp_about .tab_list_area .cp_president ol ul .prd_txt{padding: 0 5px; height: 120px;}
.cp_about .tab_list_area .cp_president ol ul .prd_txt .txt{position: relative; padding-left: 10px; font-size: 15px; line-height:1.5;}
.cp_about .tab_list_area .cp_president ol ul .prd_txt .txt:before{position: absolute; content:"·"; left: 0;}
.cp_about .tab_list_area .cp_president ol ul .prd_txt_name{padding: 20px 0 15px;}
.cp_about .tab_list_area .cp_president ol ul .prd_txt_name span{margin-left: 7px; color: #210058; font-size: 14px;}
.cp_about .tab_list_area .cp_president ol .prd_none{margin-right: 0;}

/* CP_WORK.html*/
.cp_work .tab_img img{width: 100%;}
.cp_work .cp_work_list{margin-top: 25px; text-align: left;}
.cp_work .cp_work_list > li{padding-bottom: 72px; margin-top: 60px; padding-right: 2%; border-bottom: 1px solid #ccc;}
.cp_work .cp_work_list li > div{width: 48%;}
.cp_work .cp_work_list .box_left{float: left; margin-right: 2%;}
.cp_work .cp_work_list .box_right{float: right;}
.cp_work .cp_work_list li:after{content:""; display: block; clear: both;}
.cp_work .cp_work_list .work_img{width: 13%; float: left;}
.cp_work .cp_work_list .work_img img{width: 100%;}
.cp_work .cp_work_list .work_txt{width: 84%; float: right; line-height: 1.5;}
.cp_work .cp_work_list .work_txt li{padding-left: 10px; position: relative;}
.cp_work .cp_work_list .work_txt strong{display: block; font-size: 19px; font-weight: bold; margin-bottom: 19px; color:#444;}

.dot:before{position: absolute; left: 0; content:"·";}

/* CP_JOIN.html */
.cp_join .tab_wrap{background: #f5f5f5; padding-bottom: 96px;}
.cp_join .cp_join_list{margin-top: 98px; text-align: left;}
.cp_join .cp_join_list > li{margin-bottom: 44px;}
.cp_join .cp_join_list li:after{content: ""; display: block; clear: both;}
.cp_join .cp_join_list .cp_join_tit{width: 20%; float: left; padding-left: 67px; box-sizing: border-box;}

.sb_tit{position: relative; display: inline-block; padding-left: 20px; font-weight: bold; font-size: 20px;}
.sb_tit:before{position: absolute; content:""; display:block; width: 2px; height: 20px; background: #f49a0f; top: 4px; left: 0;} 

.cp_join .cp_join_list .cp_join_txt{width: 80%; float: right;}
.cp_join .cp_join_list .cp_join_txt li{padding-left: 10px; position: relative;  line-height: 25px;}

.ps{font-size: 14px;}
.ps .tel{color:#666;font-size:12px;margin:0 5px;}
.ps .tel:before{content:"(Tel. ";}
.ps .tel:after{content:" )";}
.cp_join .cp_join_list .cp_nm li{padding-left: 0;}
.cp_join .cp_join_list .cp_join_btn{margin-top: 15px;}

/* CP_CONTACT.html */
.cp_contact .tab_wrap{box-sizing: border-box;}
.cp_contact .tab_wrap div{margin: 0 auto;}
.cp_contact .map_tablet{display: none;}
.cp_contact .map_mobile{display: none;}
.cp_contact .map_txt ul{width: 100%; border-top: 2px solid #656565; border-bottom: 1px solid #656565; box-sizing: border-box; padding: 19px 0; margin-top: 40px;}
.cp_contact .map_txt li{display: inline-block;}
.cp_contact .map_txt li span{font-size: 16px; font-weight: bold; margin-right: 20px;}
.cp_contact .map_txt .map_ad{width: 50%;}
.cp_contact .map_txt .map_fx{width: 24%;}

/* ABOUT_MB.html */ 
.mb .sb_top_menu li{width: 33.3%;}
.mb .sb_top_bg{background-image: url(../images/sb_bg_2.jpg);}

/* MB_CEO.html ( CSS = CP_ABOUT_CEO.html ) */

/* MB_SKI_LIST.html ( CSS = CP_ABOUT.html = .tab_menu_area ) */
.mb_ski_list .tab_menu_area{margin-bottom: 0; text-align: center;}
.mb_ski_list .tab_click_list > div ~ div{display:none;}

.mb_ski_list .tab_menu_area ul{margin-top: 48px; margin-bottom: 40px;}
.mb_ski_list .tab_menu_area .tab_menu li{width: 20%;}
.mb_ski_list .list_box > ul > li{float: left; text-align: center;}
.mb_ski_list .list_box > ul:last-child{border-bottom: 2px solid #656565;}
.mb_ski_list .list_box .list_tit{border-top: 2px solid #656565; border-bottom: 1px solid #ccc; padding: 19px 0;}
.mb_ski_list .list_box .list_left{width: 30%;}
.mb_ski_list .list_box .list_right{width: 70%;}

.mb_ski_list .list_box .list_info{border-bottom: 1px solid #ccc; padding: 19px 0;}
.mb_ski_list .list_box .list_info .list_img{width:100%;}
.mb_ski_list .list_box .list_info .list_img p{display:inline-block; width: 50%;}

.mb_ski_list .list_box .list_info .list_right{padding-left: 75px; text-align: left; border-left: 1px solid #ccc; box-sizing: border-box; line-height: 30px;}
.mb_ski_list .list_box .list_info .list_right ul{float: left; width: 68%; padding: 9px 0;}
.mb_ski_list .list_box .list_info .list_right li{position: relative; padding-left: 80px;}
.mb_ski_list .list_box .list_info .list_right span{position: absolute; left: 0; display: inline-block; width: 55px; margin-right: 42px; font-weight: bold;}
.mb_ski_list .list_box .list_info .list_right .list_more{float: right; width: 30%; padding: 10px 0; border: 1px solid #ccc; border-radius: 5px; margin-top: 10px;  text-align: center;}
/*.mb_ski_list .list_box .list_info .list_right:after{content: ""; display: block; clear: both;}*/

#tab2, #tab3, #tab4, #tab5{display: none;}
#inner_tab2, #inner_tab3{display: none;}

.tab_search{display: none;}
.mb_search h5{font-size: 18px; font-weight: bold; background: #eee; padding: 24px 10px; text-align: left; border-top: 2px solid #333; border-bottom: 1px solid #ccc;}
.mb_search ul{padding: 25px 10px;}
.mb_search ul:after{content: ""; display: block; clear: both;}
.mb_search ul li{float: left; height: 50px;}
.mb_search ul .mb_select{width: 49%; margin-bottom: 10px;}
.mb_search ul .mb_select select{-webkit-border-radius: none; border: 1px solid #ccc; width: 100%; height: 100%; font-size: 18px; font-weight: lighter; padding: 0 10px; background:#fff; -webkit-appearance:none; background:url(../images/select.png) no-repeat 95% center;}
.mb_search ul .sct{margin-right: 1%;}

.mb_search ul .mb_sch_click{width: 100%;}
.mb_search ul .mb_sch_click input, .mb_search ul .mb_sch_click button{font-size: 18px; font-weight: lighter;}
.mb_search ul .mb_sch_click input{width: 85%; height: 50px; float: left; padding: 0 5px;}
.mb_search ul .mb_sch_click button{width: 15%; height: 50px; float: right; background: url(../images/sch_btn.jpg) no-repeat; background-size: cover; background-position: center; font-size: 0;}

/* MB_ABOUT.html */
.mb_about .cp_box{ margin-top: 60px;}
.mb_about .mb_table{/*overflow-x: scroll;*/}
.mb_about .mb_table table{width: 100%; /*width: 1200px; */ text-align: center; border-top: 2px solid #656565; border-bottom: 2px solid #656565;}
.mb_about .mb_table table th{border-bottom: 1px solid #ccc; font-weight: bold;}
.mb_about .mb_table td{font-size:15px;}
.mb_about .mb_table table th, .mb_about .mb_table table td{padding: 16px 0;}
.mb_about .mb_all tbody tr{border-bottom: 1px solid #ccc;}

.mb_ceo_list{margin-bottom:60px;box-sizing:border-box;border-top: 2px solid #656565;border-bottom: 2px solid #656565;font-size:15px;text-align: center;}
.mb_ceo_list a{display:block;color:#444;}
.mb_ceo_list th:hover a{color:#220057;}
.mb_ceo_list .tit{padding: 16px 0;background: #f7f7f7;font-weight:lighter;border:1px solid #eee;}
.mb_ceo_list td{padding: 16px 0;border:1px solid #eee;}
.mb_ceo_list th a{padding: 16px 0;}
.mb_ceo_list th{font-weight:bold;/* border:1px solid #eee; */border-left:1px solid #eee; border-right:1px solid #ccc;}
.mb_ceo_list td{border-bottom:1px solid #656565;border-right:1px solid #ccc;}
.mb_ceo_list tr th:last-child, .mb_ceo_list tr td:last-child{border-right:1px solid #eee;}

/* PATROL_SKI.html */ 
.ft{color: #666;}

.patrol .sb_top_menu li{width: 25%;}
.patrol .sb_top_bg{background-image: url(../images/sb_bg_3.jpg);}

.content_box{text-align: left; margin-top: 50px;}
.content_box:after{display: block; content: ""; clear: both;}
.tit_box{float: left; width: 23%;}
.txt_box{float: right; width: 77%;}
.txt_box .sb_bold{font-weight: bold; margin-bottom: 25px; font-size: 18px; color: #140332;}

.patrol_ski .patrol_list .ptr_top, .patrol_ski .patrol_list .ptr_center{border-bottom: 1px solid #ccc; padding-bottom: 48px;}

.ptr:before{content:""; display: inline-block; background: url(../images/patrol_icon.jpg) left center no-repeat; width: 9px; height: 16px; margin-right: 10px;}
.patrol_ski .patrol_list .ptr_list{text-align: center; margin: 62px 0;}
.patrol_ski .patrol_list .ptr_list li{display: inline-block; margin-right: 5%;}
.patrol_ski .patrol_list .ptr_list li:last-child{margin-right: 0;}
.patrol_ski .patrol_list .ptr_list .ptr_img{margin-bottom: 26px;}
/* 12-10 수정 */
/* .patrol_ski .mark{padding-left:45px; background:url(../images/patrol_mark.jpg) no-repeat left center;} */
.mark{position:relative;padding-left:77px;}
.mark img{position:absolute;width:60px !important;left:0;top:-8px;}

.patrol_list{line-height: 25px;}
.patrol_list .ptr_center .ptr_inner_list{padding-left: 16px;}
.patrol_list .ptr_center .ptr_inner_list .ptr_color_1{color: #f49a0f;}

.patrol_list .ptr_center .ptr_color_2:before{content:"|　";}
.patrol_list .ptr_center .ptr_color_2:after{content:"　|";}
.patrol_list .ptr_center .ptr_color_2{color: #140332;}

/* PATROL_TEST.html */
.patrol_test .txt_box li{width: 31.7%; display: inline-block; margin-right: 2%;}
.patrol_test .txt_box li:last-child{margin-right: 0;}
.patrol_test .txt_box li a{display: block; border: 1px solid #ccc; text-align: center;}
.patrol_test .txt_box li img{width: 100%;}
.patrol_test .txt_box li .ptr_txt{width: 100%; padding: 44px 0; font-size: 20px; font-weight: bold; color: #444; border-top: 1px solid #ccc; box-sizing: border-box;}

/* PATROL_DATA.html */
.ptr_table h4{font-size: 20px; font-weight: bold;}
.ptr_table table .ptr_1{width: 20%;}
.ptr_table table .ptr_1{width: 20%;}
.ptr_table table{margin-top: 35px; margin-bottom: 30px;border-top: 2px solid #656565; border-bottom: 2px solid #656565;font-size:15px;}
.ptr_table table th{vertical-align: top; text-align: right;}
.ptr_table table tr{border-bottom: 1px solid #ccc;}
.ptr_table table th{padding: 18px 25px; font-weight: bold;}
.ptr_table table td{padding: 18px 0;}

.color_1{color: #f49a0f;background:none}
.color_2{color: #e40000;}
.color_bg{background: #f5f5f5;}
.click_btn{margin-top: 56px; text-align: center;}
.click_btn ul{width: 100%; text-align: center;}
.click_btn li{display: inline-block; width: 200px; margin-right: 14px; border: 1px solid #000; box-sizing: border-box;}
.click_btn li:last-child{margin-right: 0;}
.click_btn li a{display: block; padding: 15px 0; /* width:198px */}
.click_btn input[type='submit']{/* display: block; */ padding: 15px 0;/* width:198px; */margin-top:0px;line-height:0px;height:57px}
/* 18-12-14 추가 */
.click_btn input.ok{width:198px;}
.click_btn input.line{background:#fff;border:1px solid #000;color:#000;}
.click_btn input{width:230px; height:57px; background:#000; color:#fff; margin-right:14px;}
.click_btn input:last-child{margin-right:0;}
/* .accept_cancel .click_btn input{width:auto;} */

.btn_ok{background: #000; color: #fff;}
.btn_ok a{color: #fff;}
.click_btn .ok_chk{width: 230px;}
.btn_ck{}
.btn_ck a{color: #000;}
.btn_no{}
.click_btn .btn_print{text-align: center;}
.click_btn .btn_print li{text-align: center;}

/* PATROL_CHECK.html */
.patrol_check .tab_menu_area .tab_menu li{width: 50%;}

.patrol_check .txt_box{line-height: 25px;}
.patrol_check .txt_box > ul{border-bottom: 1px solid #ccc; padding-bottom: 35px;}
.patrol_check .txt_box .li_btn_b{border-bottom: none; padding-top: 35px;}
.patrol_check .txt_box .txt_b > li{background: url(../images/li_btn.gif) 2px 10px no-repeat; padding-left: 20px;}
.patrol_check .txt_box .li_btn_b li{background: url(../images/li_btn_b.gif) 2px 10px no-repeat; padding-left: 20px;}
.patrol_check .txt_box .chk_inner li{position: relative; padding-left: 20px;}
.patrol_check .txt_box .chk_inner li:before{position: absolute; left: 5px; content: "·"; color: #666;}
.patrol_check .txt_box .chk_price{margin-top: 55px;}

.patrol_check .check_form{border-top: 2px solid #656565; border-bottom: 2px solid #656565;}
.patrol_check .check_form li{padding: 12px 0;  border-bottom: 1px solid #ccc;}
.patrol_check .check_form li:last-child{border-bottom: none;}
.patrol_check .check_form li p{display: inline-block; width: 20%; color: #000; text-align: right; padding-right: 25px;}
.patrol_check .check_form li input{width: 40%; -webkit-appearance:none; -webkit-border-radius: 0;}

/* TEACH_SKI.html */ 
.teach .sb_top_menu li{width: 16.6%;}
.teach .sb_top_bg{background-image: url(../images/sb_bg_4.jpg);}
.teach_ski .patrol_list .ptr_top{border-bottom: 1px solid #ccc; padding-bottom: 48px;}

/* TEACH_TEST.html */
.teach_test .tab_menu_area{margin-top: 48px;}
.teach_test .tab_menu_area li{width: 33.3%; font-family: 'Montserrat', sans-serif;}
.teach_test .tit_box i{font-family: 'Montserrat', sans-serif;}
.teach_test .txt_box li{width: 48%; display: inline-block; margin-right: 3%;}
.teach_test .txt_box li:last-child{margin-right: 0;}
.teach_test .txt_box li a{display: block; border: 1px solid #ccc; text-align: center;}
.teach_test .txt_box li img{width: 100%;}
.teach_test .txt_box li .ptr_txt{width: 100%; padding: 44px 0; font-size: 20px; font-weight: bold; color: #444; border-top: 1px solid #ccc; box-sizing: border-box;}

/* TEACH_DATA.html */
.ptr_pd{padding-left: 15px;}
.ptr_ul{margin-top: 30px;}
.chk_pd:before{display: none;}
.teach_data .inner_menu .tab_menu li{width: 25%;}
.teach_data .inner_menu .tab_menu{border-bottom: 1px solid #000;}
.teach_data .inner_menu .tab_menu li{border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: none; position: relative;}
.teach_data .inner_menu .tab_menu li:after{content:""; display: block; position: absolute; background: #000; width: 100%; height: 1px; bottom: -1px;}
.teach_data .inner_menu .tab_menu li.on{border-top: 1px solid #666; border-left: 1px solid #666; border-right: 1px solid #666; border-bottom: none;}
.teach_data .inner_menu .tab_menu li.on:after{background: #fff;}

.teach_data .txt_box ul{line-height: 25px;}
.teach_data .txt_box .li_btn_in li{background: url(../images/li_btn.gif) 2px 10px no-repeat; padding-left: 15px;}
.teach_data .txt_box > ul{border-bottom: 1px solid #ccc; padding-bottom: 50px;}

.pqi{padding-bottom: 25px; margin-bottom: 25px; border-bottom: 1px solid #ccc; font-size: 14px;}
.pqi .txt{color: #140332; font-weight: bold;}
.pqi .txt:before{content:"-"; margin: 0 8px;}
.pqi .pqi_link{padding-left: 20px;}

/* TEACH_CAMPION.html */
.ft_sz{font-size: 14px; margin-top: 5px;}
.blk{display: block; margin-top: 10px;}

.teach_campion .campion_rank{display: block; width: 228px; text-align: center; padding: 17px 0 17px 20px; border: 1px solid #000; box-sizing: border-box; background: url(../images/campion_icon.gif) 53px 18px no-repeat; background-size: 16px; color: #000;}
.teach_campion .ptr_table table .ptr_1{width: 25%;}
.teach_campion .ptr_table table .ptr_2{width: 75%;}

/* REPORT.html | 사용 페이지 모두 지정될 수 있음 | */ 
.report .sb_top_menu li{width: 33.3%;}
.report .sb_top_bg{background-image: url(../images/sb_bg_5.jpg);}
.report .sb_content .sb_top_text{margin-bottom: 50px;}
.search_box{padding: 23px; background: #eee; box-sizing: border-box;}
.search_box ul li{float: left;}

.search_box{margin-bottom: 50px;}
.search_box input{-webkit-appearance: none; -webkit-border-radius: none;}
.search_box select{-webkit-border-radius: none;}
.search_box .select_box{width: 20%; background: #fff;}
.search_box .select_box select{padding: 0 10px;background:#fff; -webkit-appearance:none; background:url(../images/select.png) no-repeat 95% center;}
.search_box .search_txt{width: 70%;}
.search_box .search_btn{width: 10%; background: url(../images/search_icon.png) center no-repeat #f49a0f; background-size: 22px; }
.search_box .select_box select, .search_box .search_txt input, .search_box .search_btn button{width: 100%; height: 50px; border: none; }
.search_box .search_btn button{font-size: 0; }

/* REPORT_ALL.html | 사용 페이지 모두 지정될 수 있음 | */  

.report .sb_top_text p{margin-top: 30px; font-size: 18px;}
.report .sb_top_text p:after{content:""; display: block; width: 35px; height: 2px; background: #f49a0f; margin: 25px auto 0;}

.all_table table{width: 100%; border-top: 2px solid #666; border-bottom: 2px solid #666;font-size:14px;}

.all_table table .all_col_1{width: 10%;}
.all_table table .all_col_2{width: 70%;}
.all_table table .all_col_3{width: 20%;}
.all_table table thead, .all_table table tbody tr{border-bottom: 1px solid #ccc;}

.all_table table tbody tr:last-child{border-bottom: none;}
.all_table table th, .all_table table td{padding: 25px 0; text-align: center;}
.all_table table td a{display: block;}
.all_table table tr td:nth-of-type(2){text-align: left;}

.prev_next_box{margin: 40px 0;}
.prev_next_box ul{vertical-align:middle;}
.prev_next_box ul li{display: inline-block; margin-right: 1%; border: 1px solid #d2d2d2; min-width:31px; height: 31px;}
.prev_next_box ul .prev, .prev_next_box ul .next{width: 31px; height: 31px; text-indent: -9999px;}
.prev_next_box ul .prev{background: url(../images/prev_icon.gif) no-repeat center;}
.prev_next_box ul .next{background: url(../images/next_icon.gif) no-repeat center;}
.prev_next_box ul li:last-child{margin-right: 0;}
.prev_next_box ul li.on{background: #f49a0f; border: 1px solid #f49a0f;}
.prev_next_box ul li.on a{color: #fff;}
.prev_next_box ul li a{display: block; padding: 5px 10px;}
.prev_next_box ul .prev a, .prev_next_box ul .next a{padding: 5px 5px;}

/* all_board */
.all_board p{float:left;display:inline-block;}
.all_board li{border-bottom: 1px solid #ccc;}
.all_board li:last-child{border-bottom: none;}
.all_board li:after{display:block;clear:both;content:"";}
.all_board{border-top: 2px solid #666;border-bottom: 2px solid #666;font-size: 14px;}
.all_board .t_head{border-bottom: 1px solid #ccc;}
.all_board .t_head .tit{padding:25px 0;text-align: center;}
.all_board .no{width:10%;padding:25px 0;}
.all_board .tit{width:75%;text-align: left;}
.all_board .tit a{display:block;padding:25px 0;}
.all_board .date{width:15%;padding:25px 0;}


/* SB_NOTICE.html */ 
.sb_notice .sb_top_menu li{width: 33.333%;}
.sb_notice .sb_top_bg{background-image: url(../images/sb_bg_6.jpg);}

.sb_safe, .sb_gallery{padding: 80px 0 250px;}

/* SAFE */
.safe{box-sizing: border-box;}
.safe .tab_menu li{width:50%;}
/* 18-12-11 추가 */
.safe .tab_list_area ol{padding:0 20px;text-align: left;box-sizing:border-box;}
.safe .tab_list_area ol li{position:relative;margin-bottom:30px;font-size:15px;padding-left:60px;line-height:35px;}
.safe .tab_list_area i{position:absolute;left:0;top:0;display:inline-block;width:35px;height:35px;color:#fff;margin-right:10px;font-size:20px;background:#140332;line-height:35px;text-align: center;}

.safe .tab_menu li {width: 33.33%;}

/* 19-1-22 추가 */
.safe .tab_list_area .rule_tit{padding-left: 30px;text-align: left;font-weight: bold;font-size: 20px;margin: 50px 0;}
.safe .tab_list_area .rule li{padding-left: 0;}
.safe .tab_list_area .rule li dt{padding-left: 40px;line-height: 1.5;font-weight: bold;font-size: 18px;margin-bottom: 20px;position: relative;}
.safe .tab_list_area .rule li dd{display: block;font-size: 15px;line-height: 2;font-weight: normal;text-indent:10px;}
.safe .tab_list_area .rule li span{position: absolute;top: 0;left:0;display: inline-block;width: 30px;height: 30px;margin-right: 10px;background: #140332;color:#fff;text-align: center;font-weight: normal;line-height: 30px;}
.safe .tab_list_area .rule li dd div{margin-top: 10px;padding:10px;background: #f5f5f5;box-sizing:border-box;text-indent:0;color:#140332;}
/* SB_DATA.html | 사용 페이지 모두 지정될 수 있음 | */ 
/*.sb_data_wrap .sb_top_bg{background-image: url(../images/sb_bg_7.jpg);}*/

.all_photo .photo_list ul li{width: 32%; float: left; margin-right: 2%; border-bottom: 1px solid #ccc; margin-bottom: 25px;}
.all_photo .photo_list ul li:nth-of-type(3),
.all_photo .photo_list ul li:nth-of-type(6),
.all_photo .photo_list ul li:nth-of-type(9){margin-right: 0;}
.all_photo .photo_list ul li img{width: 100%;}

.all_photo .photo_list ul .photo_txt{height: 20px; margin: 12px 0; text-align: left; padding: 0 5px;}
.all_photo .photo_list ul .photo_txt p{text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

/* list_on */
.all_list .list_on_box .list_on{border-top: 2px solid #333;}
.all_list .list_on_box .list_on .list_tit{border-bottom: 1px solid #ccc; padding: 40px 5px;}
.all_list .list_on_box .list_on .list_tit:after{display: block; clear: both; content:"";}
.all_list .list_on_box .list_on .list_tit p{float: left; font-size: 22px;}
.all_list .list_on_box .list_on .list_tit span{float: right; font-size: 15px; color: #666;}

.all_list .list_on_box .list_on .list_img{width: 100%; margin: 32px 0;}
.all_list .list_on_box .list_on .list_img img{width: 100%;}

.all_list .list_on_box .list_on .list_txt{text-align: left; margin-bottom: 78px; line-height: 22px; /*font-weight: lighter;*/}

.all_list .list_on_box .list_chk{border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; /*font-weight: lighter;*/}
.all_list .list_on_box .list_chk li{float: left; text-align: left; padding: 0 5px; box-sizing: border-box; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc;}
.all_list .list_on_box .list_chk li:nth-of-type(3), 
.all_list .list_on_box .list_chk li:nth-of-type(4){border-bottom: 0;}
.all_list .list_on_box .list_chk .list_chk_tit{width: 12%; padding: 20px 0; text-align: center;}
.all_list .list_on_box .list_chk .list_chk_txt{width: 88%; padding: 0 10px;  border-right: 1px solid #ccc;}
.all_list .list_on_box .list_chk .list_chk_txt a{display: block; padding: 20px 0;text-overflow: ellipsis;width: 100%;white-space: nowrap;overflow: hidden;}

.back_list_btn{margin: 34px auto; width: 100px; height: 40px; background: #f49a0f;}
.back_list_btn a{display: block; line-height: 40px; color: #fff;}

/* SB_QUICK.html */
.sb_quick{position:absolute; top:100px; right: 50px; z-index:100; padding-top:2px; width:88px;}

/* SB_QNA.html */
.sb_qna .tab_wrap{width: 800px; box-sizing: border-box;}
.all_qna_box > p{text-align: left; padding: 20px 5px;}
.all_qna_box .all_qna{border-top: 2px solid #666; border-bottom: 1px solid #ccc;  text-align: left;}
.all_qna_box .all_qna li{padding: 20px;}
.all_qna_box .all_qna li:after{content:""; display: block; clear: both;}
.all_qna_box .all_qna .qna_tit{float: left; width: 20%;}
.all_qna_box .all_qna .qna_tit span{display: inline-block; margin-left: 5px;}
.all_qna_box .all_qna .qna_txt{float: right; width: 80%; }
.all_qna_box .all_qna .qna_txt input{width: 100%;}
.all_qna_box .all_qna .qna_select{width: 55%;}
.all_qna_box .all_qna .qna_select select{width: 100%; height: 40px; border: 1px solid #bfbfbf;} 
.all_qna_box .all_qna textarea{width: 100%; height: 192px; border: 1px solid #bfbfbf; padding: 10px; box-sizing: border-box; font-family:'Noto Sans KR',sans-serif; font-size: 16px;}

.required_chk{margin-top: 10px; text-align: left;}
.required_chk input{display: none;}
.required_chk label{display: inline-block; text-align: left; padding: 0 5px 0 25px; position: relative;}
.required_chk input:checked + label span{color: #f49a0f;}
.required_chk label:before{display: inline-block; width: 17px; height: 17px; background-color: #fff ; content: ""; border: 1px solid #f49a0f; top: 3px; left: 0; position: absolute;}
.required_chk input:checked + label:before{background-image: url(../images/chk.jpg); background-size: 13px 13px; background-position: center; background-repeat: no-repeat;}
.required_chk label:hover{color: #f49a0f; text-decoration: underline;}
.required_chk a{font-size: 14px; text-decoration: underline;}
.required_txt{width: 100%; height: 100px; overflow-y: scroll; font-size: 12px; margin-top: 10px; padding: 10px; background: #f0f0f0; line-height: 1.5; box-sizing: border-box;}

/* LOGIN.html */
/*.login .sb_content .sb_top_text{margin-bottom: 55px;}*/
.login .sb_content .sb_top_text{margin-bottom: 0px;}
.login .tab_wrap{width: 700px; text-align: left; box-sizing: border-box;}
.login .sb_top_text h3{margin-bottom: 20px;}
.login .sb_top_text p{font-size: 20px;}
.login .login_box input{-webkit-appearance:none; -webkit-border-radius: 0;}
.login .login_box .lg_tit{font-weight: bold; font-size: 18px; padding: 0 2px 10px;}
.login .login_box .lg_txt input{width: 100%; height: 50px; -webkit-appearance:none; -webkit-border-radius: 0;}
.login .login_box .id_pw{border-top: 2px solid #666; border-bottom: 1px solid #ccc; padding: 30px 0 20px;}

.login .login_box .find_id{text-align: center; margin: 25px 0;}
.login .login_box .find_id li{display: inline-block; padding: 0 20px; border-right: 1px solid #ccc; font-weight: bold;}
.login .login_box .find_id li:last-child{border-right: 0;}

.click_btn .pw_btn{}

.click_btn .login_btn{width: 50%; background: #f49a0f; border: #f49a0f; font-size: 20px;}
.login .sb_top_text h3:after{content:""; display: block; width: 35px; height: 2px; background: #f49a0f; margin: 25px auto 0;}
.login .re_pw_box .re_login{background: #f49a0f; border: 1px solid #f49a0f;}
.login .ps{margin: 20px 0; padding: 20px; text-align: left; border: 1px solid #dfdfdf; line-height: 1.5;}
.login .ps span{display: block; position: relative; padding-left: 10px;}
.login .ps span:before{content:"-"; position: absolute; left: 0;}
.login .ps p{font-size: 16px;}

/* FIND_ID.html */
.id_pw{width: 100%;}
.id_pw li{margin-bottom: 10px;}

.login_box input, .login_box button{width: 100%; height: 50px; font-size: 15px; }
.tel_box .phone_nb li, .code_box li{float: left; box-sizing: border-box; margin-right: 1%;}
.tel_box .phone_nb li:last-child, .code_box li:last-child{margin-right: 0;}
.tel_box .phone_nb li{width: 24.2%;}
.tel_box .phone_nb li button{color: #f49a0f;}

.tel_box .phone_nb .code_tit button[name="code_get"]{border: 1px solid #f49a0f;}
.code_box .code_tit button[name="code_ok"], .code_box .code_tit input[name='find_submit']{background: #f49a0f;}
.code_box .code_tit button, .code_box .code_tit input[name='find_submit']{color: #fff;}
.code_box .code_txt{width: 74%;}
.code_box .code_tit{width: 24.2%;}

.find_id .find_pw_txt{margin-top: 20px; font-size: 14px;}
.find_id .find_pw_txt li{padding-left: 15px; position: relative;}
.find_id .find_pw_txt li:before{content: "*"; position: absolute; left: 0; top: 5px;}

.find_id_box p{font-weight: bold; font-size: 18px; padding: 10px;}
.find_id_box p:nth-of-type(2){height: 30px; line-height: 30px; background: #f1f1f1; color: #f49a0f;}

/* fin.html */
.fin{padding:0 20px;}
.fin .sb_top_text h3{margin-bottom: 20px;}
.fin .sb_top_text p{font-size: 20px;}
.fin .sb_top_text h3:after{content:""; display: block; width: 35px; height: 2px; background: #f49a0f; margin: 25px auto 0;}

/* PATROL_ACCEPT.html */
.accept .sbcenter{padding: 40px 0 250px; font-size: 16px;}
.accept .tit_box, .accept .txt_box{float: none; width: 100%; margin-bottom: 40px;}
.accept .tit_box{text-align: left; margin-bottom: 30px; }
.accept .tab_menu_area{margin-bottom: 0;}
.accept .content_box{margin-top: 0;}

.accept .txt_box{border-left: 1px solid #666; border-right: 1px solid #666; border-bottom: 1px solid #666; padding: 30px 20px; box-sizing: border-box;}
.accept_table{width: 100%;}
.accept_table tr, .accept_table th, .accept_table td{float: left;}
.accept_table tr, .accept_table th, .accept_table td{display: block; box-sizing: border-box;}
.accept_table tr{width: 100%; padding: 20px 0; border-bottom: 1px solid #ccc;}
.accept_table th{width:15%; text-align: left;  padding: 5px 20px;}
.accept_table td{width:85%;}
.accept_table .date{padding: 5px 10px;}
.accept_table .choose label{padding: 5px 25px;}
.accept_table .count{width: 50px; margin: 0 10px; float: none;}
.accept_table select{width: 200px; height: 34px; padding: 0 10px; -webkit-border-radius: 0; border: 1px solid #ccc; background:#fff; -webkit-appearance:none; background:url(../images/select.png) no-repeat 95% center;}

.add_accept{border-top: 1px solid #666; /* margin-top: 40px; */}
.add_accept .click_btn{margin-top: 43px;text-align: center;}
.add_accept .accept_table tr{width: 80%; float: right;}
.add_accept .accept_table th{width: 20%;}
.add_accept .accept_table td{width: 80%;}
.add_accept .accept_table .photo{width: 20%; padding: 0 30px; border: none; float: left;}
.add_accept .accept_table .photo th{width: 170px; border: 1px solid #666; text-align: center;}
.add_accept .accept_table .photo a{display: block; padding: 80px 0;}
.add_accept .accept_table button{float: left; padding: 7px 12px; border: 1px solid #666;}
.accept_table .nb input{width: 80px;}
.accept_table .nb span{display: inline-block; margin: 0 5px;}
.accept_table .ps, .accept_table .nb .ps{display: block; font-size: 14px; margin-top: 5px;}

.add_accept .accept_table .adress1{border: none; padding: 20px 0 0;}
.add_accept .accept_table .adress1 td input{float: left; margin-right: 5px;}
.add_accept .accept_table .adress2{padding: 0 0 20px;}
.add_accept .accept_table .adress2 th span{position: absolute; top: -9999px; left: -9999px; text-indent: -9999px;}
.add_accept .accept_table .adress1 td, .add_accept .accept_table .adress2 td{width: 40%;}
.add_accept .accept_table .adress2 input{width: 100%; margin-top: 5px;}
.add_accept .accept_table input[type="file"]{border: none;}
.choose input{width: 10px;}
.choose input, .choose label{float: left;}
.act_chk{display: inline-block;}
.act_chk a{margin-right: 10px;}

.accept .required_chk{margin: 20px 0 0 20px;}
.accept .choose input{display: none;}
.accept .choose label{position: relative;}
.accept .choose input:checked + label span{color: #f49a0f;}
.accept .choose label:before{display: inline-block; width: 17px; height: 17px;  background-color: #fff ; content: ""; border: 1px solid #f49a0f; top: 8px; left: 0; position: absolute; border-radius: 50px;}
.accept .choose input:checked + label:before{background-image: url(../images/rdo.jpg); background-size: 13px 13px; background-position: center; background-repeat: no-repeat;}
.accept .file_link input{margin-bottom: 10px;}

.add_accept .inner_box{margin-top: 20px;}
.add_accept .inner_txt{padding: 20px; line-height: 25px;}

/* TAB >> POPUP */
#popup{display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.2); z-index: 999999; text-align: left;}
#popup div{display: none; position: relative; width: 45%; background: #fff; margin: 100px auto 0; padding: 20px; box-sizing: border-box; line-height: 25px;}
#popup .close{position: absolute; right: 20px; top: 20px;}
#popup .pop_txt, #popup .pop_file{width: 100%; margin-top: 20px; border: 1px solid #666; padding: 10px; box-sizing: border-box;}
#popup .pop_file input{border: none;}
.only_btn{display: inline-block; margin: 10px 0; padding: 10px 30px;}
#popup .only_btn{margin-top: 30px;}

.ski_popup{display: none; position:fixed; z-index: 99999; width: 100%; height: 100%; top:0; background: rgba(0,0,0,.7); text-align: center; padding: 200px 0;} 
.ski_popup:after{content: ""; display: block; clear: both;}
.ski_popup h6{font-size: 35px; color: #f0f0f0; margin-bottom: 50px;}
.ski_popup > ul{width: 1200px; margin: 0 auto; height: 100px; line-height: 1.5;}
.ski_popup .popup_ul > li{float: left; width: 50%; padding: 20px 0;}
.ski_popup .popup_ul > li p{margin: 30px 0; font-size: 25px; font-weight: bold;}
.ski_popup .popup_ul > li:last-child{border-left: 1px solid #777; box-sizing: border-box;}
.ski_popup a{display: inline-block; position: relative; width: 30%; color: #f0f0f0;}
.ski_popup .popup_ul ul a{padding: 5px;}
.ski_popup .popup_ul ul a:hover{text-decoration: underline;}
.ski_popup a img{width: 100%;}
.ski_popup .pop_close{position: absolute; top: 30px; right: 30px; width: 25px; height: 25px; background: url(../images/pop_close.png) no-repeat center; background-size: cover; text-indent: -9999px;}

/* all accept */
.accept_cancel .accept_table th{width: 15%; padding: 0 20px; text-align: center;}
.accept_cancel .accept_table select{width: 100%; text-align: center; border: 1px solid #bfbfbf;}
.accept_cancel .accept_table td{width: 85%;}
.accept_cancel .accept_table .b_n{border: none; padding: 20px 0 0;}
.accept_cancel .add_accept .accept_table tr{width: 100%;}
.accept_table textarea{width: 100%; height: 150px; padding: 10px; box-sizing: border-box; border: 1px solid #bfbfbf;}
.act_sch{margin: 10px 0;}
.act_sch input{float: left;}
.act_sch input[type="submit"]{border:1px solid #000; background: #fff; color:#000;}
.act_sch:after{content:""; display: block; clear: both;}

/* TEACH_MY_ISSUE.html */
.issue .add_accept .accept_table th{width: 15%;}
.issue .add_accept .accept_table tr{width: 100%; float: left;}

/* SNOW_SKI.html */
.snow .sb_top_menu li{width: 25%;}
.snow .sb_top_bg{background-image: url(../images/sb_bg_8.jpg);}

/* SNOW_TEST.html [추가] video */
.video_wrap{display:none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;padding:8% 20%;background: rgba(0,0,0,.7);z-index:9999;text-align: center;box-sizing:border-box;}
.video_wrap iframe{border:none;border: none;position: absolute;height: 100%;left: 0;}
.video_wrap > div{position: relative;display: none;padding:10px 10px;background:#fff;}
.video_wrap .video_on{position: relative;padding-bottom: 55%;background: #000;}
.video_wrap .video_link ul li{float: left;width: 20%;}
.video_wrap .video_link ul li a{display: block;padding:15px 0;text-align: center;background: #eee; border-right:1px solid #ccc; box-sizing:border-box;}
.video_wrap .video_link ul li:last-child a{border-right:0;}
.video_wrap .video_tab:after{display: block;content:"";clear:left;}
.video_wrap .video_tab li.on a{background: #444;color:#f49a0f;}
.video_wrap .video_close_btn{position: absolute;top: -50px;right: 0;width:50px;height:50px;}
.video_wrap .video_close_btn span:before{content:"";display:block;width:30px;height:2px;background:#fff;margin:0 auto;transform:rotate(45deg);}
.video_wrap .video_close_btn span:after{content:"";display:block;width:30px;height:2px;margin:-2px auto 0;background:#fff;transform:rotate(-45deg);}
.video_wrap .video_close_btn:hover{background: #444;}
.video_wrap .video_close_btn:hover span:before, .video_wrap .video_close_btn:hover span:after{background: #f49a0f;}

@media screen and (max-width:1550px){
   .video_wrap{padding: 8% 10%;}
   
}

@media screen and (max-width:1024px){
   .video_wrap{padding: 0;overflow-y:scroll;}
   .video_wrap > div{height: 100%;padding: 70px 10px 0;}
   .video_wrap .video_close_btn{top:10px;right: 10px;background: #444;}
   .video_wrap .video_close_btn span:before, .video_wrap .video_close_btn span:after{background: #f49a0f;}
   .video_wrap .video_link ul li{width: 50%;}
   .video_wrap .video_link ul li a{border:0;}
}

@media screen and (max-width:768px){
   .video_wrap .video_link ul li{width: 100%;}
}


/* reissue.html / output.html / 18-10-16 */
.reissue .star, .output .star{padding-bottom: 20px; border-bottom: 1px solid #ccc}`
.reissue.choose{margin-top: 20px;}
.reissue.choose > div{width: 100%; margin-bottom: 20px;}
.reissue.choose label{float: none; padding-left: 28px;}
.reissue.choose label::before {top: 3px;}
.reissue.choose input[type="radio"]:checked + label{color: #f49a0f;}
.reissue.choose label span{font-size:12px;margin-left:5px;}

.file_wrap{padding-bottom: 20px; overflow-x: scroll;}
.file_img{
	width: 692px; height: 933px; padding: 200px 0px 160px;/*padding: 200px 27px 160px;*/ 
/*background: url(http://skiresort.or.kr/ski/images/sample.png);*/ 
background-size: cover; margin: 20px auto 0; box-sizing: border-box; 
font-family: '바탕', sans-serif;

}
.file_img ul{margin-bottom: 134px;}
.file_img li{width: 100%; margin-bottom: 23px; font-weight: bold; font-size: 14px;  line-height: 1;}
.file_img p{display: inline-block; width: 108px; letter-spacing: 3px; text-align: left;}
.file_img p:after{content: ":"; float: right;}

.file_txt{width: 100%; margin-bottom: 190px; font-size: 15px; line-height: 1.8;}
.file_date{font-size: 22px; text-align: center;}
.file_date b{letter-spacing: 2px; font-weight: bold;}

/* teach_demon.html / 18-10-22 */
.teach.demon .sb_content .sb_top_text{margin-bottom: 0;}
.teach.demon .cp_about .tab_list_area .cp_president ol ul .prd_txt{height: 60px;}

/* 18-12-10 추가 */
.teach.demon .cp_demon:after{content:"";clear:both;display:block;}
.teach.demon .cp_demon > li .prd_img{transition-duration: .3s; cursor:pointer;}
.teach.demon .cp_demon > li:hover .prd_img{border:1px solid #f49a0f;}
.teach.demon .cp_demon i{display:none;}
/* .teach.demon ol > li > ul > li{cursor:pointer;} */

/* .teach.demon .demon_profile{display:none;} */
.prd_prf{display: none;}
.demon_work.icon > li{background: url(../images/li_btn.gif) 2px 10px no-repeat;padding-left: 20px;}
.teach.demon .demon_profile{display:none;width:100% !important;position:fixed;top: 0;right: 0;left: 0;bottom: 0;z-index:9999;padding:5% 0;text-align: center;background:rgba(0,0,0,.5);line-height:1.5;}
.teach.demon .demon_profile:before{content:"";display:inline-block;vertical-align:middle;height:100%;box-sizing:border-box;}
.teach.demon .demon_profile > div{width:50%;position:relative;float: none;display: inline-block;padding:20px;background:#fff;height:100%;overflow-y:scroll;box-sizing:border-box;}
.teach.demon .demon_profile .demon_profile_img{/* float:left; */margin:0 auto;width:20%;padding:5px;border:1px solid #ccc;box-sizing:border-box;}
.teach.demon .demon_profile img{width:100%;}
.teach.demon .demon_profile p.name{border:0;padding:10px 0;font-size:20px;text-align:center;}
.teach.demon .demon_profile p{border-left: 3px solid #f49a0f;padding-left: 15px;font-weight: bold;margin-bottom: 10px;font-size: 18px;color: #140332;}
.teach.demon .demon_profile p > span{font-weight:100;margin-left:10px;}
.teach.demon .demon_profile button{position:absolute;top:20px;right:20px;}
.teach.demon .demon_profile ul{margin-bottom:20px;padding:10px;background:#f7f7f7;}
.teach.demon .demon_profile .demon_career{/* float:right; */width:100%;text-align: left;padding: 0 20px;box-sizing: border-box;}
.teach.demon .demon_profile li span{display:inline-block;width:140px;margin-right:10px;font-size:12px;}
.teach_demon .demon_profile .demon_career > div{width:100% !important;}

.teach_demon .tab_list_area .cp_box{padding:0;}
.teach_demon .tab_menu_area{margin-top:48px;}
.teach_demon .tab_menu_area .tab_menu li{width:33.33%;}


}

table.board_table_notice{
  width: 100%;
  border-collapse:collapse;
  font-size:12px
}
table.board_table_notice{
  border: 1px solid #220058;
}
table.board_table_notice th{
  border:1px solid #220058;
  color:#220058;
  background:#f0f1f4;
  font-size:13px;
  padding:5px 0;
  text-align:center
}
table.board_table_notice td{
  border-bottom:1px solid #a0a0a0;
  border-right:1px solid #a0a0a0
}
table.board_table_notice td{
  padding:5px 5px 5px 15px;
  font-size:12px;
}
table.board_table_notice caption{
  width:0;
  height:0;
  visibility:hidden;
  font-size:0;
  line-height:0;
  text-indent:-9999px;
}
table.board_table_notice .tr_last td{
  border-bottom:none
}
table.board_table_notice .right_none{
  border-right:none
}
table.board_table_notice .line_two{
  border-right:2px double #220058
}


table.mobile_time_table{
  width: 100%;
  border-collapse:collapse;
  font-size:12px;
  display:none
}
table.mobile_time_table{
  border: 1px solid #220058;
  line-height:1.5em
}
table.mobile_time_table th{
  border:1px solid #220058;
  color:#220058;
  background:#f0f1f4;
  font-size:13px;
  padding:5px 0;
  text-align:center
}
table.mobile_time_table td{
  border-bottom:1px solid #a0a0a0;
  border-right:1px solid #a0a0a0
}
table.mobile_time_table td{
  padding:5px 5px 5px 15px;
  font-size:12px;
}
table.mobile_time_table .tr_last td{
  border-bottom:none
}
table.mobile_time_table .right_none{
  border-right:none
}
table.mobile_time_table .line_two{
  border-right:2px double #220058
}

.table_notice_p{
	padding-top:10px
}

@media screen and (max-width:768px){
	table.mobile_time_table{display:table}
	table.board_table_notice{display:none;}
}
/* SB_FOOTER */
