@charset "utf-8"; 
/* copyright(c) WEBsiting.co.kr */

/* 텍스트 */
.h2_title{padding:8px 20px; border-left:5px solid #000; font-size:22px; margin-bottom:20px; line-height:1.3em; color:#000; }
.h3_title{padding:8px 20px; border-left:5px solid #999; font-size:18px; margin-bottom:20px; line-height:1.3em; color:#333; }
.h2_title_center{text-align:center; font-size:30px; padding:8px 20px; margin-bottom:50px; line-height:1.3em; color:#000; }
.h2_title_center small{display:block; font-size:20px; font-weight:normal; color:#999; line-height:1.3em; }

.cont_text{font-size:14px; line-height:1.6em; color:#666; overflow:hidden; clear:both; padding-bottom:15px; }
.cont_text_info{font-size:14px; line-height:1.6em; color:#666; overflow:hidden; padding:20px; border:2px dashed #ddd; clear:both; margin-bottom:15px; }
.cont_text_important{padding:8px 20px; border-left:5px solid #ddd; font-size:16px; color:#957958; line-height:1.3em; }

.cont_img_right50p{display:block; width:50%; float:right; margin:0 0 20px 20px; }
.cont_img_left50p{display:block; width:50%; float:left; margin:0 20px 20px 0; }

@media all and (max-width:980px)
{
	.h2_title{font-size:18px; padding:5px 15px; border-left:3px solid #000; }
	.h3_title{font-size:15px; padding:5px 15px; border-left:2px solid #999; }

	.cont_text{font-size:13px; line-height:1.4em; }
	.cont_text_info{font-size:13px; line-height:1.4em; }
	.cont_text_important{font-size:14px; padding:5px 15px; border-left:2px solid #ddd; }
	
}

@media all and (max-width:600px)
{
	.h2_title_center{font-size:20px; }
	.h2_title_center small{font-size:13px; font-weight:normal; }

	.cont_text{font-size:12px; }
	.cont_text_info{font-size:12px; }
	.cont_text_important{font-size:13px; }
	
}

/* 도형 */
.figure_list{width:100%; overflow:hidden; padding:30px 0; }
.figure_list li{width:25%; float:left; text-align:center; }
.figure_list li i{display:block; margin:10px auto; width:100px; height:100px; line-height:100px; border-radius:50%; background:#ddd; font-size:3em; }
.figure_list li strong{display:block; font-size:20px; color:#000; margin:5px; }
.figure_list li span{display:block; font-size:13px; color:#999; margin:5px; }

@media all and (max-width:650px)
{
	.figure_list li{width:50%; float:left; text-align:center; }
	.figure_list li i{display:block; margin:10px auto; width:100px; height:100px; line-height:100px; border-radius:50%; background:#ddd; font-size:3em; }
	.figure_list li strong{font-size:16px; }
	.figure_list li span{font-size:11px; }
	
}

/* 테이블 */
.basic_table{width:100%; overflow:auto;}
.basic_table table{width:100%; border:1px solid #ddd; border-top:3px solid #ddd; border-collapse:collapse; border-spacing:0; }
.basic_table table th,
.basic_table table td{border:1px solid #ddd; padding:8px; }
.basic_table table thead th{background:#ededed; padding:15px 8px; color:#000;  text-align:center; }
.basic_table table thead td{background:#ededed; padding:15px 8px; color:#000; text-align:center; }
.basic_table table tbody th{background:#f5f5f5; color:#666; text-align:center; }
.basic_table table tbody td{background:#ffffff; color:#666; }
.basic_table table tfoot th{background:#fbfbfb; color:#999; text-align:center; }
.basic_table table tfoot td{background:#fbfbfb; color:#999; }

/* 유튜브영상삽입 */
.youtube_area{position:relative;overflow:hidden;width:100%;padding-bottom:56.25%;clear:both;margin-bottom:10px; border-radius:20px;}
.youtube_area iframe{position:absolute; left:0px;right:0px;top:0px;bottom:0px;width:100%;height:100%;}
@media all and (max-width:980px)
{
	.youtube_area{border-radius:10px;}
}