	#page-content {
	    font-size: 1.2em;
	    line-height: 1.8;
	    font-family: "Noto Sans KR", sans-serif;
	    font-weight: 400;
	}

	#page-content .left-45 {
	    float: left;
	    width: 45%;
	    padding-top: 30px;
	    padding-bottom: 20px;
	    background-color: #efefef;
	}

	#page-content .right-55 {
	    float: left;
	    width: 55%;
	    padding-top: 30px;
	    padding-bottom: 20px;
	    background-color: #efefef;
	}

	#page-content .left-50 {
	    float: left;
	    width: 50%;
	    padding-top: 50px;
	    padding-right: 20px
	}

	#page-content .right-50 {
	    float: left;
	    width: 50%;
	    padding-top: 50px;


	}

	#page-content .left-70 {
	    float: left;
	    width: 70%;
	    padding-top: 50px;
	}

	#page-content .right-30 {
	    float: left;
	    width: 30%;
	    padding-top: 50px;
	}

	#page-content .big-ui-list {
	    padding-left: 35px;
	    font-size: 1.2em;
	    line-height: 2.5;
	    list-style: square;
	}

	.sb_title {
	    font-size: 1.4em;
	    font-weight: 400;
	}

	.left-70 span:before {
	    content: " ";
	    display: inline-block;
	    width: 6px;
	    height: 16px;
	    background: royalblue;
	    margin-right: 10px;
	}

	.table-style-01 {
	    font-size: 1.1em;
	    width: 100%;
	    border-top: 3px solid #666;
	    border-bottom: 3px solid #666;
	    border-collapse: collapse;
	}

	.table-style-01 th {
	    text-align: right;
	    padding: 10px;
	    border-top: 1px solid black;
	}

	.table-style-01 td {
	    text-align: left;
	    padding: 10px;
	    border-top: 1px solid black;
	}


	@media screen and (max-width:576px) {
	    #page-content .left-45 {
	        display: block;
	        width: 100%;
	    }

	    #page-content .right-55 {
	        display: block;
	        width: 100%;
	    }

	    #page-content .left-50 {
	        display: block;
	        width: 100%;
	    }

	    #page-content .right-50 {
	        display: block;
	        width: 100%;
	    }

	    #page-content .left-70 {
	        display: block;
	        width: 100%;
	    }

	    #page-content .right-30 {
	        display: block;
	        width: 100%;
	    }

	}