.simple-slider .swiper-slide {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.carousel-caption {
  bottom: 40%;
  top: 35%;
}

.carousel-caption h5 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 25px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #595959;
}

.carousel-caption p {
  	font-size: 14px;
    font-weight: 600;
  	text-shadow: 1px 1px 1px #595959;
}


@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display: none;
  }
}


@media (max-width:767px) {
  .simple-slider .swiper-slide {
    height: 360px;
  }
}

@media only screen and (max-width:992px) 
{
  .carousel-caption h5
  {
    font-size: 36px;
  }

.carousel-caption p {
  font-size: 14px;
	}
}


@media only screen and (max-width:780px) 
{
  .carousel-caption h5
  {
    font-size: 20px;
  }

.carousel-caption p {
  font-size: 12px;
	}

	.carousel-caption 
		{
  			top: 30%;
		}

}


@media only screen and (max-width:500px) {
  	.carousel-caption h5 
   		{
    		font-size: 18px;
   		}

	.carousel-caption p
		{
  			font-size: 9px;
		}

	.carousel-caption 
		{
  			top: 30%;
		}



}


@media only screen and (max-width:400px) {
  	.carousel-caption h5 
   		{
    		font-size: 16px;
   		}

	.carousel-caption p
		{
  			font-size: 9px;
		}

	.carousel-caption 
		{
  			top: 30%;
		}



}
