.navbar--7gate .nav-link .navbar-light .navbar-nav {
    font-size: 15px;
	color: #ffffff;	
}

@media (max-width: 991px) {
  	.navbar--7gate #menu
  		{
    	padding-top: 30px;
    	padding-left: 40px;
    	padding-right: 40px;
    	background-color: rgba(0,0,0,.9);
    	height: 120vh;
    	width: 80vh;
		color: #ffffff;
  		}
  
	.navbar-light .navbar-nav .nav-link
		{
		font-family: 'Lato';
    	font-size: 17px;
    	color: rgba(255,255,255,.5);
		}  
  
  	.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
  		{
    	color: rgba(0, 155, 245, .9);
    	font-weight:700;

		}
  
		a.phone_link:hover
 	 	{
    	color: rgba(0, 155, 245, .9) !important;
    	font-weight:700;
		}
  
  
}